/* CSS Document */

/* general style propertyies */

.header { height: 73px; }

.oc_nav { 
	 margin-left: 12px; 
	 width: 875px;
	 background-image: url(../images/dots.gif);
     background-repeat: repeat-x;
     background-position: bottom;
     background-color: transparent;
     padding-top: 6px;
     padding-left: 136px;
     height: 68px;
     }

#StudyInfo { float: left; color: #789EC5; }

#UserInfo { float: right; color: #789EC5; padding-right: 8px;}


.navbox_center { padding: 1px 6px 10px 1px; }

#bt_Home, #bt_SubmitData, #bt_ExtractData, #bt_ManageStudy, .nav_bt, .subnav { background: url(../images/nav_bt_TL.gif) no-repeat top left #789EC5;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.4em;
    margin: 3px 3px 0px 3px;
    padding: 0px;
    }

#bt_Home div, #bt_SubmitData div, #bt_ExtractData div, #bt_ManageStudy div { background: url(../images/nav_bt_TR.gif) no-repeat top right transparent;
    padding: 0px;
    }

#bt_Home div div, #bt_SubmitData div div, #bt_ExtractData div div, #bt_ManageStudy div div { background: url(../images/nav_bt_BR.gif) no-repeat bottom right transparent;
    padding: 0px;
    }

#bt_Home div div div, #bt_SubmitData div div div, #bt_ExtractData div div div, #bt_ManageStudy div div div { background: url(../images/nav_bt_BL.gif) no-repeat bottom left transparent;
    padding: 3px 12px 4px 12px;
    }

.nav_bt a:link, .nav_bt a:visited, .nav_bt_current a:link, .nav_bt_current a:visited, .subnav a:link, .subnav a:visited { color: #FFFFFF;
    text-decoration: none;
    }

.nav_bt a:hover, .nav_bt_current a:hover, .subnav a:hover { color: #FFFF99;
    text-decoration: none;
    }

#bt_Home td, #bt_Home li { color: #FFFFFF; background-color: #789EC5; }

#bt_Home ul, #bt_Home li { display: inline; margin: 0px; padding: 0px; list-style-item: none; }

#bt_Home form { margin: 0px; }

.navSearch { width: 120px; height: 13px; font-size: 10px; line-height: 13px; background-color: #BCCFE2; border-width: 1px; border-color: #BCCFE2; margin-left: 4px;}

.navSearchButton { width: 20px; height: 15px; font-size: 10px; background: url(../images/bt_navSearch.gif) no-repeat top left; border-style: none; color: #FFFFFF; font-size: 9px; font-weight: bold; line-height: 10px; padding: 0px; margin-left: 2px; }

.dropdown { 
	position: absolute; 
    visibility: hidden; 
    z-index: 4;
    width: 423px; 
    top: 124px; 
    float: left; 
    background-image: url(../images/spacer.gif); 
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 13px;
    z-index: 6;
    }

.dropdown_BG { background: url(../images/dropdown_BG.png) no-repeat bottom left; margin-top: 10px; padding: 0px 10px 9px 2px;}

.taskGroup { background-color: #DFE3E6; padding: 3px 6px 4px 6px; font-weight: bold; }

.taskGroup a { color: #666666; }

.taskLeftColumn { float: left; width: 206px; }

.taskRightColumn { float: right; width: 205px; }

.taskLink { padding: 3px 10px 4px 10px; font-weight: bold; }
