body {
    width: 1070px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
    color: #4D4D4D;
}

.original_font{
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
    color: #4D4D4D;
}

.icons_image{
    padding-left:5px;
    margin-bottom:12px;
}

.icon_space{
    margin-right:8px;
}
.noscript {
    font-size:0.7em;
    text-decoration: none;
    list-style-type: none;
}

.sideTopBar {
    background-color:#FFFFFF;
    /*border-color:#D3D3D3;*/
    border: solid thin #C3C3C3;
    padding:4px 10px 10px;
    /*font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;*/
    font-size:0.9em;
/*margin-bottom: 10px;*/
    color:#333333;
}

#alertsDivTop, #instructionsDivTop, #infoDivTop, #iconKeyDivTop{

    font-weight: bold;
/* copied from sidebar_tab*/
    background-image: url( ../images/sidebar_tab.gif );
    background-repeat: no-repeat;
    background-position: top right;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #B2B2B2;
    width: 146px;
    padding-top: 4px;
/*padding-top: 6px;*/
    padding-left: 6px;
    padding-right: 8px;
    padding-bottom: 4px;
    background-color: #FFFFFF;
    /*background-color: #FFFFFF;
    border: solid thin #C3C3C3;*/
/*   #8FAFCF;*/
/* #D3D3D3;*/
}

#headerDiv {
    clear:both;
    width: 1024px;
    height: 120px;
    color:black;

    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
}

#sidebarDiv {
    float: left;
    width: 165px;
    margin-right: 5px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;


}

#alertsDiv{

}

#instructionsDiv {
}

#infoDiv{
}

#inconKeyDiv{
/*height: 70px;*/
}

#logoDiv {
    float:left;
}

#reportIssueDiv {
    float:left;
    margin-left: 30px;
    margin-top: 2px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    /* font-size: 11px;
   line-height: 15px;*/
    color: #4D4D4D;
    font-size: 0.9em;
}

#menuContainer {
    border: solid thin #C3C3C3;
    margin-top: 2px;
    padding: 2px;
    float:left;
}
#userBoxDiv {
/*width: 170px;*/
/*font-size:0.7em;*/
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 0.9em;
    clear:right;

    float:right;
}

#footerDiv {
    color: #4D4D4D;
    font-size:0.8em;
    float:left;

    background-image: url(../images/footer_BG.gif);
    background-repeat: repeat-x;
    background-position: top;
    padding-left: 30px;
    padding-bottom: 2px;

}
span.version {

    width: 350px;
    text-align: right;

}

#footerLinksDiv{
    display: inline;
}

#logoFooterDiv {
/*float:right;*/
    display: inline;
    vertical-align: bottom;
}

#bodyDiv {
    clear: right;
    float:left;
    width: 900px;
    background: white;

    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;

}

#workflowDiv {
    /* position: relative;
   left: 170px;*/
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 10px;

}
