.tab_BG { font-weight: bold;
	background-image: url(../images/tab_BG.gif);
	background-repeat: repeat-x;
	background-position: top;
	background-color: #EBEBEB;
	height: 23px;
	}
 /* BWP: I reduced padding-left by 9 px */
.tab_L { background-image: url(../images/tab_L.gif);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 9px;
	height: 23px;
	}
/* BWP: I reduced padding-right by  14px */
.tab_R { background-image: url(../images/tab_R.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding-right: 23px;
	height: 23px;
	text-align: center;
	}

.tab_BG_h { font-weight: bold;
	background-image: url(../images/tab_BG_h.gif);
	background-repeat: repeat-x;
	background-position: top;
	background-color: #FFFFFF;
	height: 23px;
	}
/* BWP: I reduced padding-left by 9 px */
.tab_L_h { background-image: url(../images/tab_L_h.gif);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 9px;
	height: 23px;
	}
/* BWP: I reduced padding-right by 14 px */
.tab_R_h { background-image: url(../images/tab_R_h.gif);
	background-repeat: no-repeat;
	background-position: top right;
	padding-right: 9px;
	height: 23px;
	text-align: center;
	}

.tabtext { line-height: 22px;
	font-weight: bold;
	color: #000000;
	}

.table_header_row_shaded { padding-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 3px;
	border-style: solid;
	border-top-width: 0px;
	border-left-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	font-weight: bold;
	color: #666666;
	vertical-align: top;
	background-color: #F5F5F5;
	}

.table_header_row_shaded_left { padding-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 3px;
	border-style: solid;
	border-top-width: 0px;
	border-left-width: 2px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	font-weight: bold;
	color: #666666;
	vertical-align: top;
	background-color: #F5F5F5;
	}

.table_cell_shaded { padding-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 3px;
	border-style: solid;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-color: #CCCCCC;
	border-top-color: #E6E6E6;
	vertical-align: top;
	background-color: #F5F5F5;
	}

.table_cell_shaded_left { padding-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 3px;
	border-style: solid;
	border-top-width: 1px;
	border-left-width: 2px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-color: #CCCCCC;
	border-top-color: #E6E6E6;
	vertical-align: top;
	background-color: #F5F5F5;
	}

.sidebar_tab { background-image: url(../images/sidebar_tab.gif);
	background-repeat: no-repeat;
	background-position: top right;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #B2B2B2;
	width: 160px;
	padding-top: 4px;
	padding-left: 6px;
	padding-right: 8px;
	padding-bottom: 4px;
	background-color: #FFFFFF
	}

.sidebar_tab_content { padding-top: 8px;
	padding-left: 2px;
	padding-bottom: 10px;
	}

.sidebar { background-image: url(../images/dots.gif);
	background-repeat: repeat-x;
	background-position: top;
	width: 160px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 8px;
	padding-bottom: 18px;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	line-height: 13px;
	color: #789EC5 
	}

.background { background-image: url(../images/bgdots.gif);
	background-repeat: repeat-y;
	background-position: left;
	}

.workflowBox { border-style: solid;
	border-color: #B4B4B2;
	border-width: 0px 0px 0px 1px;
	}

.workflowBox_T { background-image: url(../images/workflowBox_T.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 30px;
	padding-top: 5px;
	}

.workflow_tab { background-image: url(../images/sidebar_tab.gif);
	background-repeat: no-repeat;
	background-position: top right;
	width: 140px;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 8px;
	padding-bottom: 4px;
	background-color: #FFFFFF
	}

.workflowBox_center { padding: 8px 30px 16px 16px; 
	}

.workflowBox_B { padding-bottom: 4px;
	}


	





