@page { 
	size: 11in 8.5in;
	margin: 0.25in;
	border: 1px solid silver;
	padding-top: 5px;
}	

.jmesa {
	margin: 0;
	padding: 0;
}

.jmesa caption {
	caption-side: top;
	color: #444444;
	font-weight: bold;
	font-size: 1em;
	text-align: left;
	padding-left: 5px;
}

.jmesa .table {
	width: 100%;
	border: none;
	-fs-table-paginate: paginate;
	padding: 2px;
}

.jmesa .header td {
	white-space: nowrap;
    background-color: #729fcf;
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 3px 4px 3px;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: white;
}

.jmesa .odd a, .jmesa .even a {
	color: black;
}

.jmesa .odd td, .jmesa .even td {
    font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
    padding: 2px 3px 2px 3px;
}

.jmesa .odd {
	background-color: #ffffff;
}

.jmesa .even {
	background-color: #e3e3e3;
}

.jmesa .statusBar td {
    font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
    border-top: 1px solid silver;
    background-color: #efebe7;
    padding: 2px;
}

