.panelMargin{
    margin-left: 5px;
}

   #gwt-debug-bt_Home, #gwt-debug-bt_SubmitData, #gwt-debug-bt_ExtractData,#gwt-debug-bt_ManageStudy,#gwt-debug-bt_BusinessAdmin, .nav_bt, .gwt_subnav {
   background: url(../../images/nav_bt_TL.gif) no-repeat top left #789EC5;
   color: #FFFFFF;
   font-weight: bold;
   /*float: left;*/
   font-size: 0.9em;
   line-height: 1.4em;
   /*margin: 3px 3px 0 3px;*/
   padding: 0;
   }

   #gwt-debug-bt_Home div, #gwt-debug-bt_SubmitData div,
   #gwt-debug-bt_BusinessAdmin div,#gwt-debug-bt_ExtractData div, #gwt-debug-bt_ManageStudy div {
   background: url(../../images/nav_bt_TR.gif) no-repeat top right transparent;
   padding: 0;
   }

   #gwt-debug-bt_Home div div, #gwt-debug-bt_BusinessAdmin div div,#gwt-debug-bt_SubmitData div div, #gwt-debug-bt_ExtractData div div, #gwt-debug-bt_ManageStudy div div { background: url(../../images/nav_bt_BR.gif) no-repeat bottom right transparent;
   padding: 0;
   }

   #gwt-debug-bt_Home div div div, #gwt-debug-bt_BusinessAdmin div div div,#gwt-debug-bt_SubmitData div div div, #gwt-debug-bt_ExtractData div div div, #gwt-debug-bt_ManageStudy div div div { background: url(../../images/nav_bt_BL.gif) no-repeat bottom left transparent;
   padding: 1px 10px 0px 10px;
   }

   .gwt_subnav a { margin: 0 28px 0 0;
   }

   .gwt_subnav_second_row a { margin: 0 0 0 28px;
   }


   #gwt-debug-bt_SubmitData.nav_bt_current, #gwt-debug-subnav_Submit {
   background: url(../../images/nav_SubmitData_TL.gif) no-repeat top left #7CB98F;
   padding: 0;
   }

   #gwt-debug-bt_SubmitData.nav_bt_current div, #gwt-debug-subnav_Submit div {
   background: url(../../images/nav_SubmitData_TR.gif) no-repeat top right transparent;
   padding: 0;
   }

   #gwt-debug-bt_SubmitData.nav_bt_current div div, #gwt-debug-subnav_Submit div div {
   background: url(../../images/nav_SubmitData_BR.gif) no-repeat bottom right transparent;
   padding: 0;
   }

   #gwt-debug-bt_SubmitData.nav_bt_current div div div, #gwt-debug-subnav_Submit div div div {
   background: url(../../images/nav_SubmitData_BL.gif) no-repeat bottom left transparent;
   padding: 1px 10px 2px 1px;
   }

   #gwt-debug-bt_ExtractData.nav_bt_current, #gwt-debug-subnav_ExtractData { background: url(../../images/nav_ExtractData_TL.gif) no-repeat top left #AF7CE2;
   padding: 0;
   }

   #gwt-debug-bt_ExtractData.nav_bt_current div, #gwt-debug-subnav_ExtractData div { background: url(../../images/nav_ExtractData_TR.gif) no-repeat top right transparent;
   padding: 0;
   }

   #gwt-debug-bt_ExtractData.nav_bt_current div div, #gwt-debug-subnav_ExtractData div div {
   background: url(../../images/nav_ExtractData_BR.gif) no-repeat bottom right transparent;
   padding: 0;
   }

   #gwt-debug-bt_ExtractData.nav_bt_current div div div, #gwt-debug-subnav_ExtractData div div div {
   background: url(../../images/nav_ExtractData_BL.gif) no-repeat bottom left transparent;
   padding: 1px 10px 2px 10px;
   }

   #gwt-debug-bt_ManageStudy.nav_bt_current, #gwt-debug-subnav_ManageStudy {
   background: url(../../images/nav_ManageStudy_TL.gif) no-repeat top left #D4A718;
   padding: 0;
   }

#gwt-debug-bt_SubmitData.nav_bt_current, #gwt-debug-subnav_Submit {
   background: url(../../images/subnav_R_Submit.gif) right center no-repeat  #7CB98F;
   padding: 0;
   }

 #gwt-debug-bt_ExtractData.nav_bt_current, #gwt-debug-subnav_Extract {
   background: url(../../images/subnav_R_Extract.gif) right center no-repeat  #AF7CE2;
   padding: 0;
   }

 #gwt-debug-bt_BusinessAdmin.nav_bt_current, #gwt-debug-subnav_Admin {
   background: url(../../images/subnav_R_Administer.gif) right center no-repeat  #66CCCC;
   padding: 0;
   }



   #gwt-debug-bt_ManageStudy.nav_bt_current div, #gwt-debug-subnav_ManageStudy div {
    background: url(../../images/nav_ManageStudy_TR.gif) no-repeat top right transparent;
   padding: 0;
   }

   #gwt-debug-bt_ManageStudy.nav_bt_current div div, #gwt-debug-subnav_ManageStudy div div {
   background: url(../../images/nav_ManageStudy_BR.gif) no-repeat bottom right transparent;
   padding: 0;
   }

   #gwt-debug-bt_ManageStudy.nav_bt_current div div div, #gwt-debug-subnav_ManageStudy div div div { background: url(../../images/nav_ManageStudy_BL.gif) no-repeat bottom left transparent;
   padding: 1px 5px 2px 10px;
   }

.gwt_subnav {
   margin-top: 1px;
   padding-right: 10px;
}

.nav_bt a, .nav_bt_current a, .gwt_subnav a {
   color: #FFFFFF;
   text-decoration: none;
   }

   .nav_bt a:hover, .nav_bt_current a:hover, .gwt_subnav a:hover {
   color: #FFFF99;
   text-decoration: none;
   }

   #gwt-debug-subnav_Submit{
 padding-right: 74px;
   }

   #gwt-debug-subnav_Extract{
 padding-right: 238px;
   }

   #gwt-debug-subnav_Admin{
 padding-right: 187px;
   }