/* CSS Document */

/* general style propertyies */

body.login_BG { background: url(../images/login_BG2.gif) repeat-x top left #FFFFFF; }

div.login_BG { background: url(../images/login_BG.gif) no-repeat top center; height: 100%; padding-top: 117px; }

#OClogo { background: url(../images/OC_login_logo.png) no-repeat top left; width: 428px; height: 112px; }

#OClogoIE6 { background: url(../images/OC_login_logo.gif) no-repeat top left; width: 428px; height: 112px; }

.loginBoxes { margin-bottom: 100px; }

.loginBoxes td { width: 310px; vertical-align: top; text-align: left; }

.loginBox_T { background: url(../images/login_box_T.png) no-repeat top center; height: 10px; line-height: 10px; font-size: 1px; }

.loginBox { background: url(../images/login_box_BG.png) no-repeat bottom center; }

#loginBox, #newsBox, #samlBox { padding: 6px 28px 38px 28px; }

.loginBox form, .loginBox H1 { margin-top: 0px; }

.loginBox li, .loginBox ul { list-style-image: url(../images/bullet.gif); margin-left: 7px; padding-left: 7px; }

.loginBox li { margin-bottom: 13px; }

.footer { background-image: url(../images/login_footer_BG.gif); }