/* Load web fonts */
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans+Condensed:300,700|Open+Sans:400,400i,600,700,700i");
@import url("fonts/icomoon.woff");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

select, input, textarea {
  font-size: 1em; }

textarea {
  width: 100%; }

table, td {
  font-size: 100%; }

input[type="text"], input[type="password"] {
  background-color: white;
  display: inline-block;
  float: left;
  height: auto;
  min-height: 30px;
  padding: .25em; }
  input[type="text"].navSearch, input[type="password"].navSearch {
    width: 13em; }

input[type="submit"], input[type="button"] {
  -webkit-appearance: none; }
  input[type="submit"]:not(.navSearchButton), input[type="button"]:not(.navSearchButton) {
    background: #618ebb;
    background: linear-gradient(to bottom, #618ebb 0%, #3e6891 100%);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1em;
    border-radius: .25em;
    border: 0;
    padding: .4em .9em;
    margin: 0 .25em; }
    input[type="submit"]:not(.navSearchButton):hover, input[type="button"]:not(.navSearchButton):hover {
      background: #3e6891;
      background: linear-gradient(to top, #618ebb 0%, #3e6891 100%); }

.navSearchButton {
  background: #3e6891;
  -webkit-border-top-right-radius: .2em;
  -webkit-border-bottom-right-radius: .2em;
  -moz-border-radius-topright: .2em;
  -moz-border-radius-bottomright: .2em;
  border-top-right-radius: .2em;
  border-bottom-right-radius: .2em;
  color: #fff;
  border: 0;
  min-height: 30px;
  font-size: 1em;
  padding-left: .75em; }
  .navSearchButton:hover {
    background: #20354a; }

body {
  font-size: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  width: 100% !important;
  overflow: auto; 
  }
  body > table {
    margin: 0 auto;
    min-width: 1024px; 
  }

p, ul, ol, td, th {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

h1 {
  color: #ED7800;
  font-family: 'Didact Gothic', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin: 0; }

li:not(div#bt_Home) {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: .5em 0; }

td {
  font-size: inherit;
  line-height: inherit; }

a{
  text-decoration: none;
}

#ol{
    background-image: url(overlay.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
}
#box {
    display:none
}

#ol{
    background-image: url(overlay.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
}

#mbox{
    background-color:#eeeeee;
    padding:15px;
    border:2px outset #666;
}

#mbm{
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    float:right;
    padding-bottom:5px;
}

.statusSide{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.eventSide{
  color:#494D4B !important;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;"
}

a:link {
  color: #3a6087; }

a:visited {
  color: #3a6087; }

a:hover {
  color: #090f14; }

.alert {
  color: #ED7800;
  font-weight: 700; }

.custom-icon:before {
  border-radius: .2em;
  background: rgba(0, 0, 0, 0.075);
  color: #618ebb;
  display: block;
  line-height: 1.5em;
  padding: 0.25em 0.35em;
  min-width: 2em; }

.icon-sign:before {
  content: url("../../images/icon-sign.png");
  background: rgba(0, 0, 0, 0.075);
  background-size: contain; }

.disabled {
  opacity: .4; }

.icon {
  display: inline-block; }

.icon {
  text-align: center; }
  .icon:before {
    border-radius: .2em;
    background: rgba(0, 0, 0, 0.075);
    color: #618ebb;
    display: inline-block;
    line-height: 1.5em;
    padding: 0.25em 0.35em;
    min-width: 2em; }
  .icon.black:before {
    color: black; }
  .icon.red:before {
    color: #e74c3c; }
  .icon.green:before {
    color: #06C279; }
  .icon.orange:before {
    color: #ED7800; }
  .icon.gray:before {
    color: #58585b; }
  .icon.white:before {
    color: #fff; }
  .icon-step-forward:before, .icon-fast-forward:before, .icon-step-backward:before, .icon-fast-backward:before {
    font-size: .8rem; }
  td.table_header_row .icon-caret-right, td.table_header_row .icon-caret-left, td.table_header_row .icon-caret-down, td.table_header_row .icon-caret-up {
    background: none; }
  .ViewSubjectsPopup .icon-caret-right, .ViewSubjectsPopup .icon-caret-left, .ViewSubjectsPopup .icon-caret-down, .ViewSubjectsPopup .icon-caret-up {
    font-size: 2em !important;
    margin-right: 0 !important; }
  .sidebar_tab .icon-caret-right, .sidebar_tab .icon-caret-left, .sidebar_tab .icon-caret-down, .sidebar_tab .icon-caret-up {
    float: right; }
  .icon-caret-right:before, .icon-caret-left:before, .icon-caret-down:before, .icon-caret-up:before {
    background: none;
    line-height: 1em; }
  .title_manage .icon-question-circle:before, .title_manage .icon-print:before {
    border: none;
    background: none;
    font-size: 1.25rem; }

/* navigation */
.status-tag {
  border-radius: .15em;
  padding: .15em .25em; }
  .status-tag.status-test {
    background-color: #ED7800; }
  .status-tag.status-prod {
    background-color: #06C279; }

.logo {
  display: inline-block;
  float: left;
  margin: .25em 1em;
  position: relative;
  width: 150px; }
  .logo img {
    max-width: 150px;
    margin: .25em 0; }

.logo-2 {
  display: inline-block;
  float: left;
  margin: .25em 1em;
  position: relative;
  width: 150px; }
  .logo-2 img {
    max-width: 150px;
    margin: .25em 0; }

.nav-top-bar {
  width: 100%; }

.oc_nav {
  background: #00344c;
  color: white;
  width: 100%;
  margin-left: 0;
  float: left;
  padding-left: 0;
  height: auto; }
  .oc_nav > div {
    display: inline-block;
    position: relative; }
  .oc_nav a {
    color: white;
    font-size: 0.875em; }

.dropdown {
  background-color: #ccc;
  border: solid 1px #ccc;
  font-family: inherit; }

.taskLeftColumn,
.taskRightColumn {
  width: 50%; }

/* layout */
.aka_revised_content table[width="525"] {
  width: 100%; }

.aka_revised_content, .content {
  float: none;
  padding: .5em 1em 1em 1em;
  width: 100%;
  max-width: calc(100vw - 180px);
}
  .aka_revised_content form > div, .content form > div {
    min-width: 60% !important; }

#bt_Home,
#bt_SubmitData,
#bt_ExtractData,
#bt_ManageStudy,
.nav_bt,
.subnav,
#bt_Home td,
.navbox_center {
  background: #618ebb;
  padding: .15em .25em; }

#bt_Home li {
  color: transparent;
  display: inline-block;
  padding: .5em;
  float: none;
  line-height: 1.25em; }
  #bt_Home li:hover {
    border-radius: .2em;
    background-color: #3e6891; }
  #bt_Home li.active {
    border-radius: .2em;
    background-color: #3e6891; }

/*Dropdown styling*/
.nav_bt {
  position: relative; }
  .nav_bt a:link, .nav_bt a:visited {
    font-weight: bold;
    text-decoration: none; }
  .nav_bt ul {
    margin: 0.25em 0; }

.dropdown {
  border: none;
  display: none;
  position: absolute;
  width: 36em;
  z-index: 99; }
  .dropdown_BG {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    background: none;
    background-color: #f1f1f1;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    margin-top: 0;
    padding: .5em; }
  .dropdown a {
    text-decoration: none; }
    .dropdown a:before {
      content: '\00BB';
      margin-right: .5em; }

.taskGroup {
  background-color: #618ebb;
  padding: .25em;
  font-weight: bold;
  color: white; }

.taskLeftColumn,
.taskRightColumn {
  display: inline-block;
  margin: 0;
  padding: 0.25em 0.25em 0.75em 0.25em;
  width: 49.5%; }

#subnav_Tasks {
  font-size: .8em;
  line-height: 1.5;
  right: 0 !important;
  top: inherit !important;
  left: inherit !important; }

/*End of Dropdown Styling*/
/* Misc*/
.blockUI.blockMsg.blockPage {
  width: auto !important;
  padding: 1em !important;
}

form[action="CreateNewStudyEvent"] > div {
  width: 850px; }

form[action="CreateNewStudyEvent"] > a {
  margin: .5em 0;
  display: inline-block; }

form[action="CreateDataset"] input {
  margin-top: 1em !important; }

form[name="subjectForm"] a, form[action="UpdateStudySubject"] a {
  text-decoration: none; }

form[name="subjectForm"] .formlabel, form[name="subjectForm"] input[type="text"], form[name="subjectForm"] select, form[action="UpdateStudySubject"] .formlabel, form[action="UpdateStudySubject"] input[type="text"], form[action="UpdateStudySubject"] select {
  display: block;
  margin-bottom: 1em;
  margin-right: 1em;
  padding-left: 10px; }

#findSubjects tr td div {
  width: auto !important; }

.header {
  background-image: none;
  width: 100%; }

tr.filter {
  font-size: 0.75em; }

#sumBox {
  box-shadow: none !important;
  width: 100% !important; }

#StudyInfo {
  display: inline-block;
  float: left;
  line-height: 1.5em;
  padding: .5em 1em;
  color: white; }

td.table_actions > table {
  display: inline; }

#UserInfo {
  right: 0;
  z-index: 9999; }

#StudyInfo, #UserInfo {
  font-size: .8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%); }

#searchFilterSDV {
  border-bottom: 1px solid #ccc;
  margin: 1em 0; }
  #searchFilterSDV #Tab1Selected, #searchFilterSDV #Tab2Selected, #searchFilterSDV #Tab1NotSelected, #searchFilterSDV #Tab2NotSelected {
    padding: .5em; }
  #searchFilterSDV span.tabtext {
    background-color: #ccc;
    padding: .5em; }

.summaryTable {
  border: none !important;
  font-size: .9em;
  margin: 1em 0;
  width: 75% !important; }
  .summaryTable td {
    border-bottom: 1px solid #ccc;
    padding: .15em; }

table.shaded_table {
  border: 0;
  margin: 1em 0; }
  table.shaded_table table {
    border: 1px solid #ccc; }
  table.shaded_table td {
    padding: .25em;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 0;
    border-bottom: 0; }
    table.shaded_table td:first-child {
      border-left: 0; }
    table.shaded_table td.table_header_row {
      background-color: #f1f1f1;
      border-top: 0; }
  table.shaded_table > tbody > tr > td {
    border: 0; }

.tablebox_center {
  font-size: .85rem;
  margin: 1em 0; }
  .tablebox_center tr:first-child td.table_cell {
    border-top: 1px solid #ccc; }
  .tablebox_center tr:last-child > td.table_cell, .tablebox_center tr:last-child > td.table_cell_left {
    border-bottom: 1px solid #ccc; }
  .tablebox_center td {
    padding: .25em;
    vertical-align: top; }
    .tablebox_center td.table_divider {
      border-bottom: 1px solid #ccc; }
    .tablebox_center td.table_cell_top {
      border-top: 1px solid #ccc; }
    .tablebox_center td.table_cell, .tablebox_center td.table_cell_left, .tablebox_center td.table_cell_top {
      background-color: transparent;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc; }
      .tablebox_center td.table_cell:first-child, .tablebox_center td.table_cell_left:first-child, .tablebox_center td.table_cell_top:first-child {
        border-left: 1px solid #ccc; }
      .tablebox_center td.table_cell table tr:first-child td.table_cell, .tablebox_center td.table_cell_left table tr:first-child td.table_cell, .tablebox_center td.table_cell_top table tr:first-child td.table_cell {
        border-top: 1px solid #ccc; }
      .tablebox_center td.table_cell table tr td.table_cell:first-child, .tablebox_center td.table_cell_left table tr td.table_cell:first-child, .tablebox_center td.table_cell_top table tr td.table_cell:first-child {
        border-left: 1px solid #ccc; }
    .tablebox_center td.table_header_row, .tablebox_center td.table_header_row_left, .tablebox_center td.table_header_column_top, .tablebox_center td.table_header_column {
      background-color: #ccc;
      padding: .5em;
      border-right: 1px solid white;
      border-bottom: 1px solid white; }
      .tablebox_center td.table_header_row:last-child, .tablebox_center td.table_header_row_left:last-child, .tablebox_center td.table_header_column_top:last-child, .tablebox_center td.table_header_column:last-child {
        border-right: 1px solid #ccc; }
    .tablebox_center td.table_cell_left {
      border-left: 1px solid #ccc; }

form[action="UpdateSubStudy"] .textbox_center tr[bgcolor="#F5F5F5"] {
  background-color: #fff !important; }

form[action="UpdateSubStudy"] .textbox_center td.table_cell, form[action="UpdateSubStudy"] .textbox_center td.table_cell_left, form[action="UpdateSubStudy"] .textbox_center td.table_header_column, form[action="UpdateSubStudy"] .textbox_center td.table_header_column_top {
  border-bottom: 0px !important; }


.textbox_center {
  background-color: #f1f1f1;
  font-size: .85rem;
  margin: 1.5em 0;
  padding: 1.5em; }
  .textbox_center a {
    text-decoration: none; }
  .textbox_center td {
    padding: .25em; }
    .textbox_center td.table_cell, .textbox_center td.table_cell_left, .textbox_center td.table_header_column, .textbox_center td.table_header_column_top {
      background-color: transparent;
      border-bottom: 1px solid #ccc;
      padding: .25em; }
  .textbox_center .formlabel {
    max-width: 200px; }
  .textbox_center tr:last-child td.table_cell, .textbox_center tr:last-child td.table_cell_left, .textbox_center tr:last-child td.table_header_column {
    border-bottom: none; }

.table_title_Admin {
  display: inline-block;
  margin: .5em 0; }

.table_tools {
  font-size: .85rem; }
  .table_tools:first-child {
    text-align: right; }

.title_manage a {
  text-decoration: none; }

#UserInfo {
  display: inline-block;
  float: right;
  padding: .15em 1em; }

.box_T {
  width: 100%; }

.footer_bottom {
  font-size: 0.625em; }

/* jmesa styles */
.jmesa .filter .dynFilter {
  position: relative;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  padding: 0;
  margin: 0;
  min-height: 1.75em;
  border: 1px solid #c0c0c0;
  background-color: #efebe7;
  height: 15px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 4; }

.jmesa .filter #dynFilterDiv {
  position: absolute;
  top: -3px;
  left: -2px;
  padding: 0;
  margin: 0;
  min-height: 1.75em;
  height: 17px;
  border: 1px solid #c0c0c0;
  background-color: #e1ebf4; }

.jmesa .filter #dynFilterInput {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  border-style: none;
  background-color: #e1ebf4; }

.jmesa .filter #dynFilterDroplistDiv {
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 0;
  margin: 0;
  height: 17px;
  background-color: #e1ebf4;
  z-index: 4; }

.jmesa .filter #dynFilterDroplist {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  border: 1px solid #c0c0c0;
  background-color: #e1ebf4; }

.jmesa #studySiteStatistics, .jmesa #studyStatistics, .jmesa #subjectEventStatusStatistics, .jmesa #studySubjectStatusStatistics {
  border-bottom: 1px solid #ccc;
  margin: 0 2em 2em 0; }

.jmesa table#userLogins tr td {
  padding: .3rem !important; }

.jmesa .fa, .jmesa .icon {
  font-size: .9em; }

.jmesa td {
  font-size: .85rem; }

.jmesa .table {
  border: none; }

.jmesa > table {
  min-width: 50%; }

.jmesa .header td {
  background-color: #ccc;
  border-right: solid 1px #fff;
  color: #333;
  font-family: 'Open Sans', arial, helvetica, sans-serif;
  min-width: 6em;
  padding: .15em;
  white-space: normal; }
  .jmesa .header td:last-child {
    border-right: none; }

.jmesa .even td {
  background-color: #f1f1f1;
  border: none; }

.jmesa .highlight td {
  background-color: #f2e7b8; }

.jmesa table:not(#studyAuditLogs) .odd > td, .jmesa table:not(#studyAuditLogs) .even > td, .jmesa table:not(#studyAuditLogs) .highlight > td {
  vertical-align: top; }

.jmesa table#findSubjects .odd > td, .jmesa table#findSubjects .even > td, .jmesa table#findSubjects .highlight > td, .jmesa table#findSubjects td table td {
  vertical-align: middle; }

.jmesa table:not(#studyAuditLogs) .odd td, .jmesa table:not(#studyAuditLogs) .even td, .jmesa table:not(#studyAuditLogs) .highlight td {
  border: none;
  font-family: 'Open Sans', arial, helvetica, sans-serif;
  font-weight: 400;
  hyphens: none;
  line-height: 1.5em;
  min-width: 2em;
  height: 2.25em;
  padding: .25em .75em; }

.jmesa table:not(#studyAuditLogs) .odd a, .jmesa table:not(#studyAuditLogs) .even a, .jmesa table:not(#studyAuditLogs) .highlight a {
  text-decoration: none; }

.jmesa table#studyAuditLogs tbody.tbody tr.odd td, .jmesa table#studyAuditLogs tbody.tbody tr.even td, .jmesa table#studyAuditLogs tbody.tbody tr.highlight td {
  border-top: 0px solid #ccc;
  border-left: 0px solid #ccc;
  border-right: 0;
  border-bottom: 0;
  padding: .25em; }
  .jmesa table#studyAuditLogs tbody.tbody tr.odd td:last-child, .jmesa table#studyAuditLogs tbody.tbody tr.even td:last-child, .jmesa table#studyAuditLogs tbody.tbody tr.highlight td:last-child {
    border-right: 0px solid #ccc; }

.jmesa table#studyAuditLogs tbody.tbody tr.odd:last-child td, .jmesa table#studyAuditLogs tbody.tbody tr.even:last-child td, .jmesa table#studyAuditLogs tbody.tbody tr.highlight:last-child td {
  border-bottom: 0px solid #ccc; }

.ViewSubjectsPopup {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  background-color: #f1f1f1;
  color: #58585b;
  font-size: .8rem;
  padding: .25em; }
  .ViewSubjectsPopup a {
    font-family: 'Open Sans'; }

div#subjectEvents {
  font-size: .8em; }

.highlight .tablebox_center td {
  background-color: inherit; }

/*Username dropdown CSS*/
#userDropdown {
  position: relative;
  z-index: 100; }
  #userDropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    /* Hide Dropdowns by Default */ }
    #userDropdown ul li {
      display: inline-block;
      list-style-image: none;
      /* Display Dropdowns on Hover */ }
      #userDropdown ul li:hover > ul, #userDropdown ul li:focus > ul {
        display: inherit; }
    #userDropdown ul ul {
      background-color: #00344c;
      display: none;
      position: absolute;
      /* Fisrt Tier Dropdown */ }
      #userDropdown ul ul li {
        width: 170px;
        float: none;
        display: list-item;
        position: relative; }
  #userDropdown a {
    display: block;
    padding: 0 10px;
    color: white;
    line-height: 30px;
    text-decoration: none; }
    #userDropdown a:hover, #userDropdown a:focus {
      background-color: #618ebb;
      color: white; }

.vline, .vline_B {
  background-image: url(../images/leftbar_vline.gif);
  padding-top: 6px;
  padding-left: 3px;
  padding-right: 5px; }

.vline {
  background-repeat: repeat-y; }

.vline_B {
  background-repeat: no-repeat;
  background-position: top-right; }

.leftmenu {
  padding-top: 6px; }

table[width="160"] tr:nth-last-child(-n+2) td.sidebar_tab {
  border-bottom: none; }

.sidebar_tab {
  background-color: #f1f1f1;
  background-image: none;
  border-bottom: 1px solid #999;
  font-size: .8em;
  padding: 1em; }
  .sidebar_tab b {
    display: block; }
  .sidebar_tab_content {
    margin-top: .5em; }
    .sidebar_tab_content span {
      color: #494D4B !important; }
    .sidebar_tab_content table[width="110"] {
      width: auto; }

.tablee_tools:first-child {
  text-align: right; }

form[action="ExportExcelStudySubjectAuditLog"] ~ table {
  border: 0 !important; }
  form[action="ExportExcelStudySubjectAuditLog"] ~ table tr:last-child td {
    border-bottom: 1px solid #ccc; }
  form[action="ExportExcelStudySubjectAuditLog"] ~ table td {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 0;
    border-bottom: 0;
    padding: .25em; }
    form[action="ExportExcelStudySubjectAuditLog"] ~ table td:last-child {
      border-right: 1px solid #ccc; }
    form[action="ExportExcelStudySubjectAuditLog"] ~ table td table {
      border: 0 !important; }
  form[action="ExportExcelStudySubjectAuditLog"] ~ table table {
    width: 100%; }
    form[action="ExportExcelStudySubjectAuditLog"] ~ table table table {
      width: 100%; }

div#subjectSDV img[alt="Separator"] {
  margin: 0 .75em; }

div#subjectSDV table#sdv {
  width: 90%; }
  div#subjectSDV table#sdv thead tr.toolbar td {
    padding: .5em 0; }

.addNewStudyLayout{
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, "Yu Gothic", Meiryo, sans-serif;
}

.addNewSubjectTitle{
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 18px;
  line-height: 18px;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, "Yu Gothic", Meiryo, sans-serif;
}

.required{
  color: #d9534f!important;
}

.input-group {
    position: relative;
    display: flex;
    width: 100%;
}

.input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #464a4c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.form-control {
    display: block;
    width: 95%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.selectS select{
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, "Yu Gothic", Meiryo, sans-serif;
  width:100px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  width: 80px;
}

.lines {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 15px;
    border-top: 1px solid #eceeef;
}

.alert.small {
  line-height: 3px;
  margin-bottom: 10px;
  font-size: small;
  text-align: left;
}

.full-width {
  width: 100%;
}

.full-width tr {
  text-align: left;
}

.full-width td.icon-container {
  width: 32px;
}

.full-width td.icon-input-container input {
  height: 32px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -2px;
}