/* Load web fonts */
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans+Condensed:300,700|Open+Sans:400,400i,600,700,700i");
@import url("fonts/icomoon.woff");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

input[type=text] {
  background-color: white;
  width: auto;
  height: auto;
  display: inline-block;
  float: left;
  font-size: 1em;
  min-height: 30px;
  padding: .25em; }
  input[type=text].navSearch {
    width: 13em; }

.navSearchButton {
  background: #3e6891;
  -webkit-border-top-right-radius: .2em;
  -webkit-border-bottom-right-radius: .2em;
  -moz-border-radius-topright: .2em;
  -moz-border-radius-bottomright: .2em;
  border-top-right-radius: .2em;
  border-bottom-right-radius: .2em;
  color: #fff;
  border: 0;
  min-height: 30px;
  font-size: 1em;
  padding-left: .75em; }
  .navSearchButton:hover {
    background: #20354a; }

body {
  font-size: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  width: 100% !important; }
  body > table {
    margin: 0 auto;
    min-width: 1024px; }

p, ul, ol, td, th {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

h1 {
  color: #ED7800;
  font-family: 'Didact Gothic', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin: 0 .25em; }
  h1 span.icon-question-circle {
    font-size: .75em; }

li {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.3; }

td {
  font-size: inherit;
  line-height: inherit; }

a:link {
  color: #618ebb; }

a:visited {
  color: #618ebb; }

a:hover {
  color: #090f14; }

.custom-icon:before {
  border-radius: .2em;
  background: rgba(0, 0, 0, 0.075);
  color: #618ebb;
  display: block;
  line-height: 1.5em;
  padding: 0.25em 0.35em;
  min-width: 2em; }

.icon-sign:before {
  content: url("../../images/icon-sign.png");
  background: rgba(0, 0, 0, 0.075);
  background-size: contain; }

.disabled {
  opacity: .4; }

.icon {
  display: inline-block;
  color: red; }

.fa, .icon {
  text-align: center; }
  .fa:before, .icon:before {
    border-radius: .2em;
    background: rgba(0, 0, 0, 0.075);
    color: #618ebb;
    display: block;
    line-height: 1.5em;
    padding: 0.25em 0.35em;
    min-width: 2em; }
  .fa.black:before, .icon.black:before {
    color: black; }
  .fa.red:before, .icon.red:before {
    color: #e74c3c; }
  .fa.green:before, .icon.green:before {
    color: #06C279; }
  .fa.orange:before, .icon.orange:before {
    color: #ED7800; }
  .fa.gray:before, .icon.gray:before {
    color: #58585b; }
  .fa.white:before, .icon.white:before {
    color: #fff; }
  .fa-step-forward:before, .fa-fast-forward:before, .fa-step-backward:before, .fa-fast-backward:before, .icon-step-forward:before, .icon-fast-forward:before, .icon-step-backward:before, .icon-fast-backward:before {
    font-size: .8rem; }
  .ViewSubjectsPopup .fa-caret-right, .ViewSubjectsPopup .fa-caret-left, .ViewSubjectsPopup .fa-caret-down, .ViewSubjectsPopup .icon-caret-right, .ViewSubjectsPopup .icon-caret-left, .ViewSubjectsPopup .icon-caret-down {
    font-size: 2em !important;
    margin-right: 0 !important; }
  .sidebar_tab .fa-caret-right, .sidebar_tab .fa-caret-left, .sidebar_tab .fa-caret-down, .sidebar_tab .icon-caret-right, .sidebar_tab .icon-caret-left, .sidebar_tab .icon-caret-down {
    float: right; }
  .fa-caret-right:before, .fa-caret-left:before, .fa-caret-down:before, .icon-caret-right:before, .icon-caret-left:before, .icon-caret-down:before {
    background: none;
    line-height: 1em; }
  .fa-question-circle:before, .icon-question-circle:before {
    background: none; }
  .fa-question-circle:before, .icon-question-circle:before {
    border: none;
    background-image: none; }

/* navigation */
.logo {
  display: inline-block;
  float: left;
  margin: .25em 1em;
  position: relative;
  width: 150px; }
  .logo img {
    max-width: 150px;
    margin: .25em 0; }

.logo-2 {
  display: inline-block;
  float: left;
  margin: .25em 1em;
  position: relative;
  width: 150px; }
  .logo-2 img {
    max-width: 150px;
    margin: .25em 0; }

.nav-top-bar {
  width: 100%; }

.oc_nav {
  background: #00344c;
  color: white;
  width: 100%;
  margin-left: 0;
  float: left;
  padding-left: 0;
  height: auto; }
  .oc_nav > div {
    display: inline-block;
    position: relative; }
  .oc_nav a {
    color: white;
    font-size: 0.875em; }

.dropdown {
  background-color: #ccc;
  border: solid 1px #ccc;
  font-family: inherit; }

.taskLeftColumn,
.taskRightColumn {
  width: 50%; }

/* layout */
.aka_revised_content {
  float: none;
  padding: .5em 1em 1em 1em;
  width: 100%;
  max-width: calc(100vw - 180px);
  overflow-x: scroll; }

#bt_Home,
#bt_SubmitData,
#bt_ExtractData,
#bt_ManageStudy,
.nav_bt,
.subnav,
#bt_Home td,
#bt_Home li,
.navbox_center {
  background: #618ebb;
  padding: .15em .25em; }

#bt_Home li {
  color: transparent;
  display: inline-block;
  padding: .5em;
  float: none;
  line-height: 1.25em; }
  #bt_Home li:hover {
    border-radius: .2em;
    background-color: #3e6891; }
  #bt_Home li.active {
    border-radius: .2em;
    background-color: #3e6891; }

/*Dropdown styling*/
.nav_bt {
  position: relative; }
  .nav_bt a:link, .nav_bt a:visited {
    font-weight: bold;
    text-decoration: none; }
  .nav_bt ul {
    margin: 0.25em 0; }

.dropdown {
  border: none;
  display: none;
  position: absolute;
  width: 36em;
  z-index: 99; }
  .dropdown_BG {
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    background: none;
    background-color: #f1f1f1;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    margin-top: 0;
    padding: .5em; }
  .dropdown a {
    text-decoration: none; }
    .dropdown a:before {
      content: '\00BB';
      margin-right: .5em; }

.taskGroup {
  background-color: #618ebb;
  padding: .25em;
  font-weight: bold;
  color: white; }

.taskLeftColumn,
.taskRightColumn {
  display: inline-block;
  margin: 0;
  padding: 0.25em 0.25em 0.75em 0.25em;
  width: 49.5%; }

#subnav_Tasks {
  font-size: .8em;
  line-height: 1.5;
  right: 0 !important;
  top: inherit !important;
  left: inherit !important; }

/*End of Dropdown Styling*/
#findSubjects tr td div {
  width: auto !important; }

.header {
  background-image: none;
  width: 100%; }

tr.filter {
  font-size: 0.75em; }

#sumBox {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 100% !important; }

#StudyInfo {
  display: inline-block;
  float: left;
  line-height: 1.5em;
  padding: .5em 1em;
  color: white; }

#UserInfo {
  right: 0;
  z-index: 9999; }

#StudyInfo, #UserInfo {
  font-size: .8em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateY(-50%); }

.summaryTable {
  border: none !important;
  font-size: .9em;
  width: 100% !important; }

td.table_cell, td.table_cell_left {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: .25em; }
  td.table_cell:last-child, td.table_cell_left:last-child {
    border-right: 0 !important; }

td.table_header_row, td.table_header_row_left {
  background-color: #ccc;
  padding: .5em;
  border-right: 1px solid white; }

#UserInfo {
  display: inline-block;
  float: right;
  padding: .15em 1em; }

.box_T {
  width: 100%; }

.footer_bottom {
  font-size: 0.625em; }

/* jmesa styles */
.jmesa {
  font-size: .85em; }
  .jmesa .fa, .jmesa .icon {
    font-size: .9em;
    margin-right: .5em; }
  .jmesa td {
    padding: .15rem !important; }
  .jmesa .table {
    border: none; }
  .jmesa > table {
    min-width: 75%; }
  .jmesa .header td {
    background-color: #ccc;
    border-right: solid 1px #fff;
    color: #333;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    min-width: 6em;
    white-space: normal; }
    .jmesa .header td:last-child {
      border-right: none; }
  .jmesa .even td {
    background-color: #f1f1f1;
    border: none; }
  .jmesa .highlight td {
    background-color: #f2e7b8; }
  .jmesa .odd td, .jmesa .even td, .jmesa .highlight td {
    border: none;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-weight: 400;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 1.5em;
    min-width: 2em; }
  .jmesa .odd a, .jmesa .even a, .jmesa .highlight a {
    text-decoration: none; }

.ViewSubjectsPopup {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  background-color: #f1f1f1;
  color: #58585b;
  font-size: .8rem;
  padding: .25em; }

div#subjectEvents {
  font-size: .8em; }

.highlight .tablebox_center td {
  background-color: inherit; }

/*Username dropdown CSS*/
/* CSS Document */
#userDropdown {
  position: relative;
  z-index: 100; }
  #userDropdown ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }

#userDropdown ul li {
  display: inline-block;
  list-style-image: none; }

#userDropdown a {
  display: block;
  padding: 0 10px;
  color: white;
  line-height: 30px;
  text-decoration: none; }

#userDropdown a:hover {
  background-color: #618ebb;
  color: white; }

/* Hide Dropdowns by Default */
#userDropdown ul ul {
  background-color: #00344c;
  display: none;
  position: absolute;
  /*top: 60px;*/
  /* the height of the main #userDropdown */ }

/* Display Dropdowns on Hover */
#userDropdown ul li:hover > ul {
  display: inherit; }

/* Fisrt Tier Dropdown */
#userDropdown ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative; }

.dynFilter, #dynFilterDiv {
  border: 1px solid #ccc;
  padding: .25em !important;
  min-height: 1.75em; }

.sidebar_tab {
  background-color: #f1f1f1;
  background-image: none;
  font-size: .8em;
  padding: 1em; }
  .sidebar_tab_content span {
    color: #494D4B !important; }
