/*
 * corporate colors
 */
:root {
   /* base colors */
   --lightblue: #6699cc;
   --darkblue: #1d2867;
   --gray: #8f9295;

   /* darkblue lightend */
   --darkblue-l10: #374281;
   --darkblue-l20: #505B9A;
   --darkblue-l30: #6A75B4;
   --darkblue-l40: #838ECD;
   --darkblue-l50: #9CA7E6;
   --darkblue-l60: #B6C1FF;
   --darkblue-l70: #D0DBFF;
   --darkblue-l80: #E9F4FF;

   /* lightblue darkend */
   --lightblue-d10: #4D80B3;
   --lightblue-d20: #336699;
   --lightblue-d30: #1A4D80;
   --lightblue-d40: #003366;
   --lightblue-d50: #001A4D;
   --lightblue-d60: #000033;
   --lightblue-d70: #00001A;

   /* lightblue lightend */
   --lightblue-l10: #80B3E6;
   --lightblue-l20: #99CCFF;
   --lightblue-l30: #B3E6FF;
   --lightblue-l40: #CCFFFF;
   --lightblue-l50: #E5FFFF;
   
   /* gray darkend */
   --gray-d10: #76797C;
   --gray-d20: #5C5F62;
   --gray-d30: #434649;
   --gray-d40: #292C2F;
   --gray-d50: #101316;
   
   /* gray lightend */
   --gray-l10: #A9ACAF;
   --gray-l20: #C2C5C8;
   --gray-l30: #DCDFE2;
   --gray-l40: #F5F8FB;

   /* orange */
   --orange: #E46E16;
}

/*.sdvCheck{

    margin-right:10px;
}*/

#studiesDiv {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*See: listSubjectDiscNote.jsp */
.downloadAllDNotes {
    margin-bottom:5px;
    margin-left:5px;

}

.listAllDNotes{
     margin-bottom:5px;

}
.subjDiscNoteTable{
    border: thin solid black;
}

.subjDiscNoteDivTitle{
   margin-bottom:5px; 
}
/*See: signStudySubject.jsp */
.subjDiscNoteDiv {
    margin-bottom:5px;
    margin-top:5px;

}

/*See: listSubjectDiscNote.jsp */
.dnKey {
    margin-bottom:5px;
    padding: 0.5em;
    border: thin solid black;
}

.summaryBox{
    float:left;
    margin-bottom:5px;
    padding: 0.5em;
    border: thin solid black;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
    color: #4D4D4D;
}

/*See: chooseDownloadFormat.jsp */
#downloadDiv {
    margin:5px;
    padding: 0.5em;
    border: thin solid black;
}
.aka_revised_content{
    padding-left: 22px;
    padding-right: 36px;
    padding-top: 8px;
    padding-bottom: 18px;
    float:left;
/*width: 660px;*/
}

.aka_group_header{
    float:none;
    clear:both;
    margin-bottom: 0.6em;
}

.aka_revised_content_preview{
    padding-left: 22px;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 18px;

/*width: 660px;float:left;*/
}
.aka_font_general{
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
}

.aka_para{
    width: 50em;
}

.aka_green_highlight{
    color:#009966;
}

.aka_red_highlight{
    color:#ff0000;
}

.aka_orange_highlight{
    color:#FFA500;
}
.aka_err_message{
    border: 1px solid #c5c5c5;
    background: #ECECEC;
    width:450px;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    color:  #ff0000;
/*color: var(--orange); */
}

.aka_exclaim_error{
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    color:  #ff0000;
}

.aka_exclaim_show{
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    color:  #006633;
}

.aka_input_error{
    border: 1px solid #ff0000;
}

.aka_input_show{
    border: 1px solid #006633;
}

.aka_group_show{
	background: #FFFF33;
	/* a butter color, tbh*/
    border: 1px solid green;
}

.aka_input_readonly{
	color: silver;
}

.aka_bodywidth{
    width:1024px;
    margin: 0 auto;
/* background-color: #CCCCCC*/
}

.aka_table_cell_left {
    padding: 0.2em;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-color: #E6E6E6;
    vertical-align: top;
}

.aka_table_cell {
    padding: 0.2em;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-color: #CCCCCC;
    border-top-color: #E6E6E6;
    vertical-align: top;
}

td .aka_revised {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 0.7em;
    color: #4D4D4D;
}

.text_block {
    width: 10em;
    float:left;
    text-align:right
}

.aka_text_block {
    width: 10em;
    float:left;
    text-align:right
}

.aka_text_block_shared {
    float:left;
    width:10em;
    white-space:normal;
    padding-right:1px
}

.aka_ques_block {
    width: 2em;
    float:left;
    text-align:left
}

.aka_header_border{
    border: thin solid #999999;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    vertical-align: top;
}

.headerBackground{
    background: #ECECEC;}

.aka_headerBackground{
    background: #ECECEC;}

.aka_stripes{
    background-color: #ECECEC;
}

.aka_light_stripes{
    background: #f1f1f1;
}

.padding_large{
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.aka_padding_large{
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.smallText {
    font-size: 0.8em;
}

.aka_smallText {
    font-size: 0.8em;
}

.aka_title_submit{
    margin-top: 0.6em;
}

.aka_date_input {
    width: 6em;}

.date_input {
    width: 6em;}

.sm_txt_input {
    width: 8em;
}

.aka_sm_txt_input {
    width: 9em;
}

.aka_form_table {
/* width: 90%;*/
    border:2px solid #b0b0b0;
    border-collapse: collapse;
    margin-bottom: 2em}

.aka_form_table_section_header {
/* width: 90%;*/
    border:2px solid #b0b0b0;
    border-collapse: collapse;
}

.cellBorders {
    border:2px solid #b0b0b0;
/* white-space: nowrap*/
}

.padding_norm{
    padding: 0.2em;
}

.aka_cellBorders {
/*#b0b0b0*/
    border:2px solid #b0b0b0;
    white-space: nowrap
}

.aka_cellBorders_dark {
/*#b0b0b0*/
    border:2px solid #b0b0b0;
    white-space: nowrap
}

.aka_borderTopHidden{
    border-top: hidden;
}

.aka_borderBotHidden{
    border-bottom: hidden;
}

.aka_borderHidden{
    border: hidden;
}

.aka_padding_norm{
    padding-left: 0.2em;
    padding-right:  0.2em;
    padding-top:  0.2em;
    padding-bottom:  0.2em;
}
/* //////////////////////////////////////// */

H1 { font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: var(--lightblue-d30);
}

H2 { font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #CCCCCC;
}

H3 { font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: var(--lightblue);
}

h4 { font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: var(--orange);
}


p { font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
    color: #4D4D4D;
}

li { font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
    color: #4D4D4D;
    list-style-image: url(../images/bullet2.gif);
}

td { font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
    color: #4D4D4D;
}

.taskLink a:link, .taskLink a:visited, .taskLink a:hover {
   color: white;
}

a { 
   color: var(--lightblue);
}

a:link, a:visited { 
   text-decoration: none;
}


a:hover, a:active {
    text-decoration: underline;
}

.OpenClinica {
    color: var(--lightblue);
    font-weight: bold;
}

.background { 
}

.disabled_header { 
 position: absolute;
 left: 0px;
 top: 0px;
 height: 60px;
 z-index: 4
}

.disabled_header img { 
 width: 1000px;
 height: 65px;
}

.main_BG {
}


.logo {position:absolute;
 left: 0px;
 top: 0px;
 width: 103px;
 height:62px;
 z-index: 2
}

.nav {
 background-image: url(../images/dots.gif);
 background-repeat: repeat-x;
 background-position: bottom;
 background-color: transparent;
 padding-top: 6px;
 padding-left: 136px;
 height: 68px;
}

.userbox {
   padding: 0px 18px 0px 18px;
   float: right;
   margin-top: 6px;
}


.userboxtext { font-family: Tahoma, Arial, Helvetica, Sans-Serif;
 font-size:1em;
 /*font-size: 10px;
  line-height: 14px;*/
 color: var(--lightblue);
 text-align: left;
}

.workflowBox .box_T {
   background-image: url(../images/box_T.gif);
   background-repeat: repeat-x;
   background-position: top;
   background-color: #FFFFFF;
}

.workflowBox .box_L {
   background-image: url(../images/box_L.gif);
   background-repeat: repeat-y;
   background-position: left;
   background-color: transparent;
}

.workflowBox .box_R {
   background-image: url(../images/box_R.gif);
   background-repeat: repeat-y;
   background-position: right;
   background-color: transparent;
}

.workflowBox .box_B {
   background-image: url(../images/box_B.gif);
   background-repeat: repeat-x;
   background-position: bottom;
   background-color: transparent;
}

.workflowBox .box_TL {
   background-image: url(../images/box_TL.gif);
   background-repeat: no-repeat;
   background-position: top left;
   background-color: transparent;
}

.workflowBox .box_TR {
   background-image: url(../images/box_TR.gif);
   background-repeat: no-repeat;
   background-position: top right;
   background-color: transparent;
}

.workflowBox .box_BL {
   background-image: url(../images/box_BL.gif);
   background-repeat: no-repeat;
   background-position: bottom left;
   background-color: transparent;
}

.workflowBox .box_BR {
   background-image: url(../images/box_BR.gif);
   background-repeat: no-repeat;
   background-position: bottom right;
   background-color: transparent;
}

.textbox_center { padding-left: 11px;
 padding-right: 16px;
 padding-top: 7px;
 padding-bottom: 12px;
}

.userboxtext_center { padding-left: 11px;
 padding-right: 16px;
 padding-top: 7px;
}

.tablebox_center {
 padding: 0px;
 border-width: 1px;
 border-style: solid;
 border-color: #CCC;
 margin-bottom: 1em;
}

.navbox_center {
}


.alert {
 font-family: Tahoma, Arial, Helvetica, Sans-Serif;
 font-size: 11px;
 font-style: normal;
 font-weight: bold;
 color: var(--orange);
}

.alertbox_center { padding-left: 11px;
 padding-right: 16px;
 padding-top: 4px;
 color: var(--darkblue);
}

.homebox_center { padding-left: 11px;
 padding-right: 16px;
 padding-top: 4px;
 height: 290px;
}


.logout { font-family: Tahoma, Arial, Helvetica, Sans-Serif;
 font-size: 10px;
 color: var(--lightblue);
 background-image: url(../images/bullet.gif);
 background-repeat: no-repeat;
 background-position: top left;
 padding-left: 12px;
 padding-right: 8px;
}

.breadcrumbs { padding-top: 10px;
 padding-right: 18px;
 padding-left: 18px;
 padding-bottom: 12px;
}

a.breadcrumb_completed:link, a.breadcrumb_completed:visited { font-family: Tahoma, Arial, Helvetica, Sans-Serif;
 font-size: 11px;
 color: var(--lightblue);
 background-image: url(../images/breadcrumb_c.gif);
 background-repeat: no-repeat;
 background-position: center left;
 padding-left: 12px;
 padding-right: 12px;
 text-decoration: none;
}


a.breadcrumb_completed:hover, a.breadcrumb_completed:active { font-family: Tahoma, Arial, Helvetica, Sans-Serif;
 font-size: 11px;
 color: var(--lightblue);
 background-image: url(../images/breadcrumb_c.gif);
 background-repeat: no-repeat;
 background-position: center left;
 padding-left: 12px;
 padding-right: 12px;
 text-decoration: underline;
}

.breadcrumb { font-family: Tahoma, Arial, Helvetica, Sans-Serif;
 font-size: 11px;
 color: #CCCCCC;
 background-image: url(../images/breadcrumb.gif);
 background-repeat: no-repeat;
 background-position: center left;
 padding-left: 12px;
 padding-right: 12px;
}

.breadcrumb_active { font-family: Tahoma, Arial, Helvetica, Sans-Serif;
 font-size: 11px;
 font-weight: bold;
 color: var(--orange);
 background-image: url(../images/breadcrumb_a.gif);
 background-repeat: no-repeat;
 background-position: center left;
 padding-left: 12px;
 padding-right: 12px;
}

.breadcrumb_completed_flat { font-family: Tahoma, Arial, Helvetica, Sans-Serif;
 font-size: 11px;
 color: var(--lightblue);
 background-image: url(../images/breadcrumb_c.gif);
 background-repeat: no-repeat;
 background-position: center left;
 padding-left: 12px;
 padding-right: 12px;
}

.subnav_Submit { background-image: url(../images/subnav_R_Submit.gif);
 background-repeat: no-repeat;
 background-position: center right;
 padding-right: 3px;
 background-color: #7CB98F;
}

.subnav_Extract { background-image: url(../images/subnav_R_Extract.gif);
 background-repeat: no-repeat;
 background-position: center right;
 padding-right: 3px;
 background-color: #AF7CE2;
}

.subnav_Manage { background-image: url(../images/subnav_R_Manage.gif);
 background-repeat: no-repeat;
 background-position: center right;
 padding-right: 3px;
 background-color: #D4A718;
}

.subnav_Admin { background-image: url(../images/subnav_R_Admin.gif);
 background-repeat: no-repeat;
 background-position: center right;
 padding-right: 3px;
 background-color: #66CCCC;
}

.subnav_TechAdmin { background-image: url(../images/subnav_R_TechAdmin.gif);
 background-repeat: no-repeat;
 background-position: center right;
 padding-right: 3px;
 background-color: #CC0000;
}

.subnav_inactive { background-image: url(../images/subnav_R_i.gif);
 background-repeat: no-repeat;
 background-position: center right;
 padding-right: 3px;
 background-color: #D3D3D3;
}

.title_Submit { color: #7CB98F;
}

.title_Extract { color: #AF7CE2;
}

.title_Manage { color: #D4A718;
}

.title_Admin { color: #66CCCC;
}

.title_TechAdmin { color: #CC0000;
}

.table_title_Submit { font-family: Tahoma, Arial, Helvetica, sans-serif;
 font-size: 14px;
 line-height: 18px;
 font-weight: bold;
 color: #7CB98F;
 padding-bottom: 6px;
}

.table_title_Extract { font-family: Tahoma, Arial, Helvetica, sans-serif;
 font-size: 14px;
 line-height: 18px;
 font-weight: bold;
 color: #AF7CE2;
 padding-bottom: 6px;
}

.table_title_Manage { font-family: Tahoma, Arial, Helvetica, sans-serif;
 font-size: 14px;
 line-height: 18px;
 font-weight: bold;
 color: #D4A718;
 padding-bottom: 6px;
}

.table_title_Admin { font-family: Tahoma, Arial, Helvetica, sans-serif;
 font-size: 14px;
 line-height: 18px;
 font-weight: bold;
 color: var(--lightblue);
 padding-bottom: 6px;
}

.table_title_TechAdmin { font-family: Tahoma, Arial, Helvetica, sans-serif;
 font-size: 14px;
 line-height: 18px;
 font-weight: bold;
 color: #CC0000;
 padding-bottom: 6px;
}

.footer { background-image: url(../images/footer_BG.gif);
 background-repeat: repeat-x;
 background-position: bottom;
 vertical-align: bottom;
 padding-left: 30px;
 padding-bottom: 9px;
 line-height: 5px;
}

.sidebar { background-image: url(../images/dots.gif);
 background-repeat: repeat-x;
 background-position: top;
 width: 160px;
 padding-left: 3px;
 padding-right: 0px;
 padding-top: 8px;
 padding-bottom: 18px;
 font-family: Tahoma, Arial, Helvetica, Sans-Serif;
 font-size: 11px;
 line-height: 13px;
 color: var(--lightblue)
}

.content { padding-left: 22px;
 padding-right: 36px;
 padding-top: 8px;
 padding-bottom: 18px;
 width: 615px;
}


.inactive { color: #CCCCCC;
}

.table_border {
 border-style: solid;
 border-top-width: 1px;
 border-left-width: 1px;
 border-right-width: 1px;
 border-bottom-width: 1px;
 border-top-color: #CCCCCC;
 border-left-color: #CCCCCC;
 border-right-color: #CCCCCC;
 border-bottom-color: #CCCCCC;
}

.table_header_row { padding-top: 3px;
 padding-left: 2px;
 padding-right: 1px;
 padding-bottom: 3px;
 border-style: solid;
 border-top-width: 0px;
 border-left-width: 1px;
 border-right-width: 0px;
 border-bottom-width: 1px;
 border-left-color: #CCCCCC;
 border-bottom-color: #CCCCCC;
 font-weight: bold;
 color: #666666;
 vertical-align: top;
}

.table_header_row_left { padding-top: 3px;
 padding-left: 6px;
 padding-right: 1px;
 padding-bottom: 3px;
 border-style: solid;
 border-top-width: 0px;
 border-left-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 1px;
 border-bottom-color: #CCCCCC;
 font-weight: bold;
 color: #666666;
 vertical-align: top;
}

.table_header_column { padding-top: 3px;
 padding-left: 6px;
 padding-right: 6px;
 padding-bottom: 3px;
 border-style: solid;
 border-top-width: 1px;
 border-left-width: 0px;
 border-right-width: 1px;
 border-bottom-width: 0px;
 border-right-color: #CCCCCC;
 border-top-color: #CCCCCC;
 font-weight: bold;
 color: #666666;
 vertical-align: top;
}

.table_header_column_top { padding-top: 3px;
 padding-left: 6px;
 padding-right: 6px;
 padding-bottom: 3px;
 border-style: solid;
 border-top-width: 0px;
 border-left-width: 0px;
 border-right-width: 1px;
 border-bottom-width: 0px;
 border-right-color: #CCCCCC;
 font-weight: bold;
 color: #666666;
 vertical-align: top;
}

.table_cell {
 padding: 0.2em;
 border-style: solid;
 border-top-width: 1px;
 border-left-width: 1px;
 border-right-width: 0;
 border-bottom-width: 0;
 border-left-color: #CCCCCC;
 border-top-color: #E6E6E6;
 vertical-align: top;
}


.table_cell_left {/*
padding-top: 3px;
padding-left: 6px;
padding-right: 6px;
padding-bottom: 3px;
*/
 padding: 0.2em;
 border-style: solid;
 border-top-width: 1px;
 border-left-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-top-color: #E6E6E6;
 vertical-align: top;
}

.table_cell_top {
 padding: 0.2em;
 border-style: solid;
 border-top-width: 0px;
 border-left-width: 1px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-color: #CCCCCC;
 vertical-align: top;
}

.table_cell_noborder {
 padding: 0.2em;
 vertical-align: top;
}

.table_cell_nopadding { padding-top: 0px;
 padding-left: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 border-style: solid;
 border-top-width: 1px;
 border-left-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-color: #CCCCCC;
 border-top-color: #E6E6E6;
 vertical-align: top;
}

.table_divider { border-style: solid;
 border-top-width: 1px;
 border-left-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 1px;
 border-left-color: #CCCCCC;
 border-bottom-color: #CCCCCC;
 font-weight: bold;
 color: #666666;
 vertical-align: top;
 line-height: 8px;
}


.table_tools { padding-top: 4px;
 padding-bottom: 6px;
 vertical-align: top;
}

.table_actions { background-image: url(../images/table_actions_BG.gif);
 background-repeat: repeat-x;
 background-position: bottom;
 padding-top: 3px;
 padding-left: 6px;
 padding-right: 6px;
 vertical-align: top;
}

.homeboxes { width: 200px;
 padding-right: 10px;
 vertical-align: top;
}

.homebox_title { font-family: Tahoma, Arial, Helvetica, sans-serif;
 font-size: 14px;
 font-weight: bold;
 color: var(--lightblue);
}

.homebox_bullets { font-family: Tahoma, Arial, Helvetica, Sans-Serif;
 font-size: 11px;
 line-height: 11px;
 background-image: url(../images/bullet.gif);
 background-repeat: no-repeat;
 background-position: top left;
 padding-left: 12px;
 padding-right: 5px;
}

.button {
   background-color: var(--lightblue-d20);
   border-width: 0px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
   line-height: 11px;
   color: #FFFFFF;
   font-weight: bold;
   width: 80px;
   height: 17px;
   margin-top: 6px;
   margin-right: 10px;
   border-radius: 3px;
}

.button_div {
   background-color: var(--lightblue-d20);
   border-width: 0px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
   line-height: 18px;
   color: #FFFFFF;
   font-weight: bold;
   width: 80px;
   height: 17px;
   margin-top: 6px;
   margin-right: 10px;
   border-radius: 3px;
}


.loginbutton {
   background-color: var(--lightblue-d20);
   border-width: 0px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
   line-height: 11px;
   color: #FFFFFF;
   font-weight: bold;
   width: 80px;
   height: 17px;
   margin-right: 10px;
   margin-top: 10px;
   border-radius: 3px;
}

.button_search_dis {
   background-color: var(--lightblue-d20);
   border-width: 0px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
   line-height: 11px;
   color: #E6E6E6;
   font-weight: bold;
   width: 37px;
   height: 17px;
   margin-top: 2px;
   margin-left: 3px;
   border-radius: 3px;
}

.button_search {
   background-color: var(--lightblue-d20);
   border-width: 0px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
   line-height: 11px;
   color: #FFFFFF;
   font-weight: bold;
   width: 37px;
   height: 17px;
   margin: 5px;
   border-radius: 3px;
}

.button_remove {
   background-color: var(--lightblue-d20);
   border-width: 0px;
   background-image: url(../images/bt_Remove.gif);
   background-repeat: no-repeat;
   background-position: bottom;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
   line-height: 11px;
   color: #FFFFFF;
   font-weight: bold;
   width: 24px;
   height: 15px;
   border-radius: 3px;
}

.button_medium {
   background-color: var(--lightblue-d20);
   border-width: 0px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
   line-height: 11px;
   color: white;
   font-weight: bold;
   width: 120px;
   height: 17px;
   margin: 5px;
   border-radius: 3px;
}

.button_long {
   background-color: var(--lightblue-d20);
   border-width: 0px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
   line-height: 11px;
   color: white;
   font-weight: bold;
   width: 180px;
   height: 17px;
   margin: 5px;
   border-radius: 3px;
}

.button_xlong {
   background-color: var(--lightblue-d20);
   border-width: 0px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
   line-height: 11px;
   color: white;
   font-weight: bold;
   width: 220px;
   height: 17px;
   margin: 5px;
   border-radius: 3px;
}

.formlabel { text-align: right;
 vertical-align: top;
 padding-left: 6px;
 padding-right: 6px;
 padding-top: 4px;
}

.formfield {
   font-family: Tahoma Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #4D4D4D;
}

.formfieldXS {
   font-family: Tahoma Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #4D4D4D;
   border: 1px solid var(--lightblue-d40);
   background-color: white;
   width: 45px;
   margin-left: 4px;
   margin-right: 9px;
   margin-top: 1px;
   margin-bottom: 7px;
}

.formfieldXS_BG {
}

.formfieldS { 
   font-family: Tahoma Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #4D4D4D;
   background-color: white;
   border: 1px solid var(--lightblue-d40);
   width: 95px;
   margin-left: 4px;
   margin-right: 9px;
   margin-top: 1px;
   margin-bottom: 7px;
}

.formfieldS_BG {
}

.formfieldM { 
   font-family: Tahoma Arial, Helvetica, sans-serif;
   font-size: 11px;
   line-height: 15px;
   color: black;
   background-color: white;
   border: 1px solid var(--lightblue-d40);
   width: 145px;
   margin-top: 1px;
}

.formfieldM_BG {
}

.formfieldL {
   font-family: Tahoma Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #4D4D4D;
   background-color: white;
   border: 1px solid var(--lightblue-d40);
   width: 195px;
   margin-left: 4px;
   margin-right: 9px;
   margin-top: 1px;
   margin-bottom: 7px;
}

.formfieldL_BG {
}

.formfieldXL { 
   font-family: Tahoma Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #4D4D4D;
   background-color: white;
   border: 1px solid var(--lightblue-d40);
   width: 245px;
   margin-left: 4px;
   margin-right: 9px;
   margin-top: 1px;
   margin-bottom: 7px;
}

.formfieldXL_BG {
}

.formtextareaL4 {
   font-family: Tahoma Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #4D4D4D;
   background-color: white;
   border: 1px solid var(--lightblue-d40);
   width: 195px;
   height: 66px;
   margin-left: 4px;
   margin-right: 9px;
   margin-top: 1px;
   margin-bottom: 7px;
}

.formtextareaL4_BG {
}

.formtextareaXL4 {
   font-family: Tahoma Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #4D4D4D;
   background-color: white;
   border: 1px solid var(--lightblue-d40);
   width: 245px;
   height: 66px;
   margin-left: 4px;
   margin-right: 9px;
   margin-top: 1px;
   margin-bottom: 7px;
}

.formtextareaXL4_BG {
}

.loginbox {
   font-family: Tahoma Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #4D4D4D;
   background-color: white;
   border: 1px solid var(--lightblue-d40);
   width: 105px;
   margin-left: 4px;
   margin-right: 9px;
   margin-top: 1px;
   margin-bottom: 7px;
}

.loginbox_BG {
}

.formfieldFile_BG {
}

.vline { background-image: url(../images/leftbar_vline.gif);
 background-repeat: repeat-y;
 padding-top: 6px;
 padding-left: 3px;
}

.vline_B { background-image: url(../images/leftbar_vline.gif);
 background-repeat: no-repeat;
 background-position: top-right;
 padding-top: 6px;
 padding-left: 3px;
}

.leftmenu { padding-top: 6px;
}

.tab_BG { 
   font-weight: bold;
   background-color: var(--gray-l20);
   height: 23px;
   border-left: 1px solid white;
}

.tab_R {
 padding-right: 23px;
 height: 23px;
 text-align: center;
}

.tab_BG_h { 
   font-weight: bold;
   background-color: var(--lightblue-l20);
   height: 23px;
   border-left: 1px solid white;
}

.tab_L_h {
 padding-left: 9px;
 height: 23px;
}

.tab_R_h {
   padding-right: 9px;
   height: 23px;
   text-align: center;
}

.ViewSubjectsPopup { background-color: #FFFFE5;
}

.tab_L { 
   padding-left: 9px;
   height: 23px;
}

.tabtext {
   line-height: 22px;
   font-weight: bold;
   color: #000000;
}

.table_header_row_shaded { 
   padding-top: 3px;
   padding-left: 6px;
   padding-right: 6px;
   padding-bottom: 3px;
   border-style: solid;
   border-top-width: 0px;
   border-left-width: 1px;
   border-right-width: 0px;
   border-bottom-width: 1px;
   border-left-color: #CCCCCC;
   border-bottom-color: #CCCCCC;
   font-weight: bold;
   color: #666666;
   vertical-align: top;
   background-color: #F5F5F5;
}

.table_header_row_shaded_left {
   padding-top: 3px;
   padding-left: 6px;
   padding-right: 6px;
   padding-bottom: 3px;
   border-style: solid;
   border-top-width: 0px;
   border-left-width: 2px;
   border-right-width: 0px;
   border-bottom-width: 1px;
   border-left-color: #CCCCCC;
   border-bottom-color: #CCCCCC;
   font-weight: bold;
   color: #666666;
   vertical-align: top;
   background-color: #F5F5F5;
}

.table_cell_shaded { 
   padding: 0.2em;
   border-style: solid;
   border-top-width: 1px;
   border-left-width: 1px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-color: #CCCCCC;
   border-top-color: #E6E6E6;
   vertical-align: top;
   background-color: #F5F5F5;
}

.table_cell_shaded_left {
   padding: 0.2em;
   border-style: solid;
   border-top-width: 1px;
   border-left-width: 2px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-color: #CCCCCC;
   border-top-color: #E6E6E6;
   vertical-align: top;
   background-color: #F5F5F5;
}

.sidebar_tab {
   border-style: solid;
   border-width: 0px 0px 1px 0px;
   border-color: #B2B2B2;
   width: 160px;
   padding-top: 4px;
   padding-left: 6px;
   padding-right: 8px;
   padding-bottom: 4px;
}

.sidebar_tab_content { 
   padding-top: 8px;
   padding-left: 2px;
   padding-bottom: 10px;
   background-color: var(--gray-l40);
}

.normal_tab { background-image: url(../images/normal_tab.gif);
 background-repeat: no-repeat;
 background-position: top right;
 border-style: solid;
 border-width: 0px 0px 0px 0px;
 border-color: #B2B2B2;
 width: 160px;
 padding-top: 4px;
 padding-left: 6px;
 padding-right: 8px;
 padding-bottom: 4px;
 background-color: #FFFFFF
}

.workflowBox {
   border-style: solid;
	border-color: #B4B4B2;
	border-width: 0px 0px 0px 1px;
}

.workflowBox_T {
   background-image: url(../images/workflowBox_T.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 30px;
	padding-top: 5px;
}

.workflow_tab {
   background-image: url(../images/sidebar_tab.gif);
   background-repeat: no-repeat;
   background-position: top right;
   width: 140px;
   padding-top: 6px;
   padding-left: 6px;
   padding-right: 8px;
   padding-bottom: 4px;
   background-color: #FFFFFF
}

.workflowBox_center { 
   padding: 8px 30px 16px 16px; 
}

.workflowBox_B {
   padding-bottom: 4px;
}

.tooltip {
	width:170px;
	font-size:11px;
	color:black; 
	background-color: #FFFFE5;
	border-color: var(--gray);
	margin-right:auto;
	
}
.tooltip .label {
	color:black;
	font-family:Tahoma,Arial,Helvetica,Sans-Serif;
	font-size:11px;
	border-color: var(--gray);
	width:5px;
	
}
.tooltip .header1 {
	color:black;
	font-family:Tahoma,Arial,Helvetica,Sans-Serif;
	font-size:11px;
	font-weight:bold;
	height:30px;
	margin-right:auto;
	
}
.tooltip.tableborder{
	border-style:solid;
}



.tooltip .borderlabel {
	color:black;
	font-family:Tahoma,Arial,Helvetica,Sans-Serif;
	font-size:11px;
	border-color: var(--gray);
	width:10px;
	border-color:var(--gray);
	border-bottom:dotted;
	border-bottom-width:thin;
	border-bottom-color:var(--gray);
}
.tooltip .note {
	color:black;
	
	font-family:Tahoma,Arial,Helvetica,Sans-Serif;
	font-size:11px;
	border-color:var(--gray);
	
}

#sidebar_IconKey_open .sidebar_tab_content {
   background-color: white;
}

.changedField
{
    background-color: #FFFF99;
}

.formfieldM_BG_noMargin {
}

body { margin: 0px; }

#login { padding-left: 8px; }

.title_submit { color: #7CB98F; }

.title_extract { color: #AF7CE2; }

.title_manage { color: var(--lightblue-d30); }

.title_admin { color: #66CCCC; }

.infoside_table {
    table-layout:fixed;
    overflow:hidden;
    word-wrap:break-word;
}

#mbox{
    background-color:#eeeeee;
    padding:15px;
    border:2px outset #666;
}
#mbm{
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    float:right;
    padding-bottom:5px;
}

#ol{
    background-image: url(overlay.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
}

#box {
    display:none
}

* html
container
{
    width:100%;
    margin:0px;
    height:81px;
    background-image:url(../images/main_BG.gif);
    background-repeat: repeat-x;
}

akaza_logo{
    margin-left: 0px;
    width: 359;
    height:81px;
    float: left;
}

/* initially created for creating new or child dn box */
.dnBoxCol1 { float:left; width:120; }
.dnBoxCol1-1 { float:left; width:120; margin-top:10; }
.dnBoxCol2 { margin: 0 0 0 120; /* 0 right 0 left*/	width: 260; }
.dnBoxCol2-1 { margin: 0 0 0 120; width: 260; margin-top:10 }
.dnBoxCol3 { float: right; }
.icon_dnBox { width: 23px; height: 13px; border: 0px; }
.dnBoxText {
	font-family: Tahoma Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #4D4D4D;
}

table.summaryTable{
    border-top:1px #000000 solid;
    border-left:1px #000000 solid;
}

.summaryTable tbody tr td{
    border-right:1px #000000 solid;
    border-bottom:1px #000000 solid;
}


div#sumBox { -moz-border-radius: 3px 3px 3px 3px;
	border: 1px solid #b2b2b2;
	display: inline-block;
	margin-bottom: 18px;
	margin-top: 6px;
	-moz-box-shadow: 4px 4px 4px #CACACA;
	-webkit-box-shadow: 4px 4px 4px #CACACA;
	box-shadow: 4px 4px 4px #CACACA;
	}
	}

div#sumBox table { border-style: none; }

div#sumBox table td { border-style: solid;
	border-width: 1px 0px 0px 1px;
	border-color: #E6E6E6;
	}

div#sumBox table tr td:first-child { border-left-width: 0px;
	border-right-width: 1px;
	border-right-color: #cccccc;
	background-color: #fafafa;
	}

div#sumBox table tr:first-child td { border-top-width: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #cccccc;
	background-color: #efefef;
	}

/* CSS Document */

/* general style propertyies */

.header { height: 73px; }

.oc_nav { 
   margin-left: 12px; 
   width: 875px;
   padding-top: 6px;
   padding-left: 148px;
   height: 68px;
}

#StudyInfo { float: left; color: var(--lightblue); }

#UserInfo { float: right; color: var(--lightblue); padding-right: 8px;}

#bt_Home, #bt_SubmitData, #bt_ExtractData, #bt_ManageStudy, .nav_bt, .subnav {
   color: #FFFFFF;
   background-color: var(--lightblue-d20);
   font-weight: bold;
   font-size: 1em;
   line-height: 1.4em;
   margin: 3px 0px;
   padding: 0px;
   border-radius: 0;
}

#bt_Home div, #bt_SubmitData div, #bt_ExtractData div, #bt_ManageStudy div {
   padding: 0px;
}

#bt_Home div div, #bt_SubmitData div div, #bt_ExtractData div div, #bt_ManageStudy div div {
   padding: 0px;
}

#bt_Home div div div, #bt_SubmitData div div div, #bt_ExtractData div div div, #bt_ManageStudy div div div {
   padding: 3px 12px 4px 12px;
}

.nav_bt a:link, .nav_bt a:visited, .nav_bt_current a:link, .nav_bt_current a:visited, .subnav a:link, .subnav a:visited { color: #FFFFFF;
   text-decoration: none;
}

.nav_bt a:hover, .nav_bt_current a:hover, .subnav a:hover {
   color: var(--lightblue-l20);
   text-decoration: none;
}

#bt_Home td, #bt_Home li { color: #FFFFFF;}

#bt_Home ul, #bt_Home li { display: inline; float: left; margin: 0px; padding: 0px; list-style-item: none; }

#bt_Home form { margin: 0px; }

.navSearch { 
   width: 120px;
   height: 13px;
   font-size: 10px;
   line-height: 13px;
   margin-left: 4px;
   border: none;
}

.navSearchButton { 
   width: 20px;
   height: 15px;
   font-size: 10px;
   background-color: var(--lightblue-l10);
   border-radius: 0px;
   border-style: none;
   color: #FFFFFF;
   font-size: 9px;
   font-weight: bold;
   line-height: 10px;
   padding: 0px;
   margin-left: 2px;
}

.dropdown { 
   position: absolute; 
   visibility: hidden; 
   z-index: 4;
   width: 423px; 
   top: 124px; 
   float: left; 
   font-family: Tahoma, Arial, Helvetica, sans-serif;
   font-size: 11px;
   line-height: 13px;
   z-index: 6;
}

.dropdown_BG {
   background-color: var(--lightblue);
   margin-top: 10px;
}

.taskGroup { 
   color: var(--darkblue-l60);
   background-color: var(--lightblue-d20); 
   padding: 3px 6px 4px 6px;
   font-weight: bold;
}

.taskGroup a { color: #666666; }

.taskLeftColumn { float: left; width: 206px; }

.taskRightColumn { float: right; width: 205px; }

.taskLink { 
   padding: 3px 10px 4px 10px; 
   font-weight: bold;
}

.footer_bottom { /*background-image: url(../images/footer_BG.gif);
    background-repeat: repeat-x;
    background-position: bottom;*/
    vertical-align: top;
    padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;
    line-height: 15px;
	text-align:left;
}
.footer_table{

min-width: 700px;
    overflow: hidden;
   
}
.footer_table  {
table-layout: fixed;
width:100%;
min-width: 700px;
    overflow: hidden;
background-color: transparent;
}

#ft_tooltip {
	   position:absolute;
    	display:none;
		width:40%;
		background-color:#E2E7FF;
		color:#000044;
		border:2px solid #003099;
		font-family:Verdana,Geneva,sans-serif;
		padding:3px;
		font-size:11px;
		-moz-box-shadow: 2px 2px 11px #C0C0C0;
		-webkit-box-shadow: 2px 2px 11px #C0C0C0;
	}

	
	/*13923*/
.list_a {
    color: #4D4D4D;
    font-family: Tahoma,Arial,Helvetica,Sans-Serif;
    font-size: 11px;
    list-style-image: url("");
    padding: 0px;;
	margin: 0px;;
}

.list_a_ul {
padding-left: 12px;;
margin: 2px;;
}

.connect-widget {
    background: #F5F4EF;
    border: 1px solid #E7E6DE;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.connect-widget:hover {
    border: 1px solid;
    -webkit-transition: all .3s ease-in;
    background: #FFF
}

.connect-widget a {
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, Sans-serif;
    color: #4B4D4E
}

.connect-widget a:hover {
    text-decoration: underline;
    color: #F77C04
}

.connect-widget img {
    vertical-align: middle;
    margin-right: 5px;
}

.participate-text {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
    color: #4D4D4D;	
}

.participate-sample-url {
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
    color: #B6B6B4;
}

.participate-warnings {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
    color: #D00000;
}

.participate-inactive-status {
	color: #FF0000;
}

.participate-active-status {
	color: #006633;
}

.participate-registration-div {
	padding-left:10px;
	padding-bottom:10px;
	padding-right:10px;
	display:none;
}
.randomization-text {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
    color: #4D4D4D;	
}

.randomization-sample-url {
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
    color: #B6B6B4;
}

.randomization-warnings {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 15px;
    color: #D00000;
}

.randomization-inactive-status {
	color: #FF0000;
}

.randomization-active-status {
	color: #006633;
}

.randomization-registration-div {
	padding-left:10px;
	padding-bottom:10px;
	padding-right:10px;
	display:none;
}


.add-new-study-div {
	padding-left:10px;
	padding-bottom:10px;
	padding-right:10px;
	display:none;
}

.crf-upload-div {
	display:inline;
}

.crf-upload-div-hidden {
    display:none;
}
.crf-upload-padded-div {
    padding-top:10px;
    padding-left:17px;
    padding-right:17px;
}

#excel_file_path{ width: 307px; 
}

form[name="subjectForm"] td img {
   padding-left: 5px;
}

input {
   border: 1px solid var(--darkblue-l20);
   border-radius: 0;
}

input.no-border {
   border: none;
}
