target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.classpath
.project
.settings/
src/main/resources/sso.properties
src/main/resources/datainfo.properties
src/main/resources/sso.properties
src/main/webapp/WEB-INF/keycloak.json
.DS_Store

# intellij idea
.idea/
*.iml

# git
*.orig

# netbeans
nb-configuration.xml
