target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.classpath
.project
.settings/
web/src/main/resources/sso.properties
web/src/main/resources/datainfo.properties
web/src/main/resources/sso.properties
.DS_Store
core/.DS_Store
web/.DS_Store
ws/.DS_Store

# intellij idea
.idea/
*.iml

# git
*.orig

# netbeans
nb-configuration.xml
