target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.classpath
.project
.settings/
.idea/
OpenClinica.iml
OpenClinica-core.iml
OpenClinica-web.iml
OpenClinica-ws.iml
core/src/main/resources/logback-test.xml
web/src/main/resources/datainfo.properties
*.iml?
core/src/main/resources/logback-test.xml
