html {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: Verdana,Arial,Helvetica,Sans-Serif;
    font-size: 11px;
    line-height: 15px;
	color: #4D4D4D;
	}

#main {
	background-image: url(../images/main_BG.gif);
	background-repeat: repeat-x;
	background-position: top;
	min-height: 100%;
	}

#header {
	background-image:url(../images/popup_BG.gif);
	background-repeat: repeat-x;
	height: 33px;
	}

#navi {
	width: 220px;
	padding: 10px 0px 0px 50px;
	vertical-align:	top;
	float: left;
	line-height: 14px;
	clear: both;
	}

.bullets {
    background-image: url(../images/bullet.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
	padding-left: 15px;
	}

#content {
	background-image: url(../images/dots.gif);
	background-repeat: repeat-y;
	background-position: left;
	padding: 1px 55px 30px 20px;
	margin-left: 270px;
	min-height: 460px;
	}

#content td{
	font-size: 11px;
	}

.left{
	width: 140px;
	vertical-align: top;
	}

.spss1{
	width: 295px;
	vertical-align: top;
	}
	
.td{
	width: 145px;
	vertical-align: top;
	}

.td_small{
	width: 70px;
	vertical-align: top;
	}

.icon_left {
	float: left;
	width: 40px;
	}

.icon_right {
	margin-left: 50px;
	width: 270px;
	font-weight: bold;
	color: #789EC5;
	}

.button_medium {
	background-color: transparent;
    border-width: 0px;
    background-image: url(../images/button_medium_BG.gif);
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 11px;
    color: #FFFFFF;
    font-weight: bold;
    width: 120px;
    height: 17px;
    margin-right: 10px;
	margin-bottom: 3px;
	}
	
.button_long {
	background-color: transparent;
    border-width: 0px;
    background-image: url(../images/button_long_BG.gif);
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 11px;
    color: #FFFFFF;
    font-weight: bold;
    width: 180px;
    height: 17px;
    margin-right: 10px;
	margin-bottom: 3px;
	}

.button_xlong {
	background-color: transparent;
    border-width: 0px;
    background-image: url(../images/button_xlong_BG.gif);
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 11px;
    line-height: 11px;
    color: #FFFFFF;
    font-weight: bold;
    width: 220px;
    height: 17px;
    margin-right: 10px;
	margin-bottom: 3px;
	}

.contTable {
	color: #789EC5;
	padding-left: 10px;
	}

img {
	border: 0;
	}
	
h1 {
	font-size: 18px;
	font-weight: bold;
	color: #789EC5;
	}

h2 {
	font-size: 18px;
	font-weight: bold;
	}

a:link, a:visited {
	color: #789EC5;
	text-decoration: none;
	}

a:hover, a:active {
	color: #789EC5;
	text-decoration: underline;
	}

#nulls {
	visibility: hidden;
	}

#nulls table{
	border: outset blue 1.0pt;
	padding: 0;
	border-spacing: 0;
	}
	
#nulls td{
	border: inset blue 1.0pt;
	padding: 3pt 3pt 3pt 3pt;
	vertical-align: top;
	}

#nulls a:hover{
	color: #000000;
	}

#footer {
	padding: 18px 18px 8px 0px;
	vertical-align:	middle;
	text-align: right;
	}