<table  id="page-header">
<tr>

<td class='left-header'>

   
    <div class='header-text-plus text-left-aligned'>
    <b>${siteName}&nbsp;(${siteProtocolName})</b>
   
    
      </div>  
{{if app_renderMode != "STUDY_SUBJECT_CASE_BOOK"}}  
  
  {{if pageType != app_studyCoverPageType}}
      <div class='header-text text-left-aligned'>
      {{if eventName}}${eventName}{{if repeating}}{{if repeating == 'Yes'}} (${repeatOrdinal}){{/if}}{{/if}}:
      ${eventStartDate}{{if eventEndDate}}&nbsp;-&nbsp;${eventEndDate}{{/if}}{{/if}}
           </div>  
 
    {{/if}}
            <div class='header-text text-left-aligned'>${app_eventStatus}: ${studyEventStatus}</div>  

   {{/if}}
</td>
<!-- study subject block -->
<td class='right-header'>

<!--   <div class='header-text-plus text-left-aligned-bold'>${app_subjectLabel}:</div> -->
    <div class='header-text-plus-not-bold text-left-aligned'>
    
    {{if ssID }}
    {{html app_studySubjectLabel}}: <b>${ssID} </b>
    {{/if}}
    
    
    </div>  
    
{{if app_renderMode != "STUDY_SUBJECT_CASE_BOOK"}}  
    
      <div class='header-text'>${app_crfLabel}: ${formStatus ? formStatus : '___________________'}</div>  

{{if app_interviewerNameRequired != "not_used"}}
      <div class='header-text'>{{html app_interviewerLabel}}: ${interviewerName?interviewerName:'_____________________________'}</div>  
    {{/if}}
    {{if app_interviewDateRequired != "not_used"}}
      <div class='header-text'>{{html app_interviewDateLabel}}: ${interviewDate?interviewDate:'_______________________'}</div>  
    {{/if}}

    {{/if}}
 

</td>

</tr>


</table>
