
<td valign='center'>
  <table class="itemTable">
    {{if repeating}}
    <tr>
<!--   <td colspan="6" class="DNBackgroundColorForHeaders">${value}(${repeatRow}): Audit History </td>  -->
      <td colspan="6" id="ALBackgroundColorForHeaders">${value}(${repeatRow}): ${app_Audit_HistoryLabel} </td>
      {{/if}}
      
      {{if !repeating}}
    
    <tr>
<!--    <td colspan="6" class="DNBackgroundColorForHeaders">${value}: Audit History </td>   -->
      <td colspan="6" id="ALBackgroundColorForHeaders">${value}: ${app_Audit_HistoryLabel} </td>
      {{/if}} </tr>
    
    <!-- <tr class='ALBackgroundColorForHeaders'> -->
    <tr class="provenance">
      <td id="auditLabel"><strong>${app_audit_eventLabel}:</strong></td>
      <td id="timeLabel"><strong>${app_date_time_of_serverLabel}:</strong></td>
      <td id="usrLabel"><strong>${app_userLabel}:</strong></td>
       <td id="valueTypeLabel"><strong>${app_value_typeLabel}:</strong></td>
      <td id="oldLabel"><strong>${app_oldLabel}:</strong></td>
      <td id="newLabel" class="right"><strong>${app_newLabel}:</strong></td>
    </tr>
    {{each auditLogs}}
    <tr class="provenance">
      <td id="auditType"> {{html auditType}} </td>
      <td id="dateTime">{{html dateTime}}</td>
      <td id="usr">{{html user}}</td>
      <td id="valueType">{{html valueType}}</td> 
      <td id="oldValue">{{html oldValue}}</td>
      <td id="newValue" class="right">{{html newValue}}</td>
    </tr>
    {{/each}}
  </table></td>
