<td class='repeating_item_group'>
  <table border="0">
  <tr class='min-height'>
   <td>

  {{if responseType == 'text' || responseType == 'calculation'  ||  responseType == 'instant-calculation' || responseType == 'group-calculation'}}
    <div class='item_def_control' id="${formOID}-${OID}">${itemValue}</div>

	{{else responseType == 'radio'}}
  <div class='item_def_control'> 
      {{each optionNames}}
        <div class='select-option'>
          <input id="${formOID}-${OID}-${id}" type='radio' {{if itemValue == id}}checked{{/if}}/> {{html label}}
        </div>
      {{/each}}
  </div>

  {{else responseType == 'single-select'}}
  <div class='item_def_control'> 
      {{each optionNames}}
        <div class='select-option'>
           <input id="${formOID}-${OID}-${id}" type='radio' {{if itemValue == id}}checked{{/if}}/> {{html label}}
        </div>
      {{/each}}
  </div>

  {{else responseType == 'multi-select' || responseType == 'checkbox'}}
  <div class='item_def_control'> 
      {{each multiSelectOptionNames}}
        <div class='select-option'>
<input id="${formOID}-${OID}-${id}" type='checkbox' {{if itemValue && (itemValue.split(",")).indexOf(id) != -1}}checked{{/if}}/>  {{html label}} 
        </div>
      {{/each}}
  </div>

  
  {{else responseType == 'textarea'}}
  <div class='item_def_control' id="${formOID}-${OID}">${itemValue}</div>

  {{else responseType == 'file'}}
    <div class='item_def_control'> 
     <a href="${fileDownloadLink}"  title="${file}" >{{html file}}</a></div>
  
  </td>

  {{else}}
    [item]

	{{/if}}

      <div align="right" class="item_def_format_label">&nbsp;&nbsp; {{html unitLabel}}</div> 
  
   </tr>
  </table> 
</td>

