<td class='repeating_item_group'>
  <table class='repeating-horiz-items' width='100%' height='100%'>
   <tr class='min-height'>

  {{if responseType == 'text' || responseType == 'calculation' || responseType == 'instant-calculation' || responseType == 'group-calculation'}}
    <div  class='item_def_control' id="${formOID}-${OID}">${itemValue}</div>
  
  {{else responseType == 'radio'}}
    {{each optionNames}}
      <td align='center' valign='center' class='repeating_item_group'>
        <div class='select-option'><input id="${formOID}-${OID}-${id}" type='radio' {{if itemValue == id}}checked{{/if}}/></div>
      </td>
    {{/each}}
 
 {{else responseType == 'single-select'}}
    {{each optionNames}}
      <td align='center' valign='center' class='repeating_item_group'>
        <div class='select-option'><input id="${formOID}-${OID}-${id}" type='radio' {{if itemValue == id}}checked{{/if}}/></div>
      </td>
    {{/each}}
 
 {{else responseType == 'multi-select' || responseType == 'checkbox'}}
    {{each multiSelectOptionNames}}
      <td align='center' valign='center' class='repeating_item_group'>
        <div class='select-option'>
           <input id="${formOID}-${OID}-${id}" type='checkbox' {{if itemValue && (itemValue.split(",")).indexOf(id) != -1}}checked{{/if}}/>         </div>
      </td>
    {{/each}}
  
	{{else responseType == 'textarea'}}
   <td class='repeating_item_group'>
      <div class='item_def_control' id="${formOID}-${OID}">${itemValue}</div>
   </td>
 
 {{else responseType == 'file'}}

   <td>
  <div class='item_def_control'>
     <a href="${fileDownloadLink}"  title="${file}" >{{html file}}</a></div>
  </td>

  {{else}}
    [item]
  {{/if}}
  
  
   </tr>
  </table>
  <div  align="right" class="item_def_format_label"> &nbsp;&nbsp;{{html unitLabel}}</div> 
</td>

