<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
        xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/util
                        http://www.springframework.org/schema/util/spring-util-4.3.xsd">

     <util:properties id="testInfo" location="classpath:test.properties"/>

      <bean id="coreResources" class="org.akaza.openclinica.dao.core.CoreResources">

        <property name="dataInfo" ref="testInfo"/>



        <!--  <property name="messageSource" ref="messageSource"/> -->
     </bean>
      <bean id="testProperties" factory-bean="coreResources" factory-method="getDataInfo"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
        p:placeholderPrefix="s["
        p:placeholderSuffix="]"
     >
 <property name="properties"><ref bean="testProperties"/></property>
 </bean>
</beans>
