<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="WARN"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d %-5p %c %x: %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.StringMatchFilter">
            <param name="acceptOnMatch" value="false"/>
            <param name="stringToMatch" value="Unable to proxy method"/>
        </filter>
        <!-- conceal expected authorization switch warnings when
            running tests -->
        <filter class="org.apache.log4j.varia.StringMatchFilter">
            <param name="acceptOnMatch" value="false"/>
            <param name="stringToMatch" value="##### AuthorizationSwitch"/>
        </filter>
    </appender>

    <!-- for testing, purge the log on each run -->
    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="file" value="/usr/local/tomcat/logs/openclinica-test.log"/>
        <param name="append" value="false"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d [%t] %-5p %c %x: %m%n"/>
        </layout>
    </appender>

    <!-- disable really verbose logging from libraries.  Switch to debug if necessary.-->
    <logger name="org.springframework">        <level value="info"/></logger>
    <logger name="org.hibernate">              <level value="error"/></logger>
    <logger name="org.hibernate.SQL">          <level value="debug"/></logger>
    <logger name="org.hibernate.type">         <level value="trace"/></logger>
    
    <logger name="org.apache.commons.digester"><level value="info"/></logger>
    <logger name="org.apache.catalina">        <level value="info"/></logger>
    <logger name="org.apache.jasper">          <level value="info"/></logger>
    <logger name="org.dbunit">                 <level value="error"/></logger>
    
    <logger name="org.akaza.openclinica.domain.enumsupport">          <level value="debug"/></logger>

    <root>
        <priority value="debug"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
</log4j:configuration>
