body {
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

table.item-row {
 width:1000px; 
 padding-left: 15px;
 padding-right: 15px;
 /*
 border:1px solid;  
 */
}

h1 {
  font-weight:normal
  font-size: 12px;
}
h2 {
  font-weight:normal
  font-size: 11px;
}
h3 {
  font-weight:normal
  font-size: 10px;
}
h4 {
  font-weight:normal
  font-size: 9px;
}

#page-header {
  padding-top:15px;
}

#left-header {
  display: inline-block;
  width: 500px; 
  vertical-align: top;
}

#right-header{
  display: inline-block;
  width: 300px; 
  vertical-align: top;
  margin-left: 200px;
}

#page-footer {
  position:absolute;
  width:100%;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  bottom:0px;  
}

.single-page {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border:1px inset #333333;
  width:1030px;
  height:1320px;
  background-color: white;
}

.single-page-landscape {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border:1px inset #333333;
  width:1320px;
  height:1030px;
  background-color: white;
}


.spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -259px;
}

a:link {
  color: black;
}

.with_border {
  border:1px solid black;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_centered {
  text-align: center; 
}

.text-right-aligned {
  text-align: right; 
}

.text-left-aligned {
  text-align: left; 
}

#loginError  {
  color: red;
}

.repeating_item_wrapper{
  display:inline-block;
  max-height:40px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:5x;
}


.item_def_wrapper{
 /* 
 background-color: #dddddd;
  border:1px solid;  
 */
  min-width:400px;
  padding-top:0px;
  padding-bottom:0px;
  margin-top:0px;
  margin-bottom:0px;
  margin-right:10px;
  padding-left: 5px;
}

.item_def_wrapper_3col{
  min-width:150px;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:10px;
}

.item_def_number{
  vertical-align: top;
  display: inline-block;
  font-size: 0.8em;
  font-weight: normal;
}

.item_def_title{
  vertical-align: top;
  display: inline-block;
  min-width:170px;
  font-size: 0.8em;
  font-weight: normal;
}

div.item_def_control{
  vertical-align: bottom;
  display: block;
  /*
  background-color: red;
  */
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
}

span.item_def_control{
  vertical-align: bottom;
  display: inline-block;
  font-size: 0.7em;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
}


span.item_def_control_3col{
  vertical-align: bottom;
  display: inline-block;
  font-size: 0.7em;
}

.item_def_format_label{
  vertical-align: bottom;
  font-size: 0.7em;
}

.checkbox_control{
  font-size: 0.6em;
}

.gray_bg {
  background-color:#DDDDDD;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:10px;
}

.text-background {
  display: inline-block;
  background-color:#EEEEEE;
  width: 110px;
  height: 20px;
  margin-left:5px;
  margin-right:5px;
}

.text-background-repeating {
  display: inline-block;
  vertical-align:middle;
  background-color:#EEEEEE;
  width: 110px;
  height: 20px;
  margin-left:5px;
  margin-right:5px;
  margin-top:5px;
  margin-bottom:5px;
}

.title_manage { 
  color: #D4A718;
}

.select-option { 
  padding-top:1px;
}

#header-subject-dob {
  color: #333333;
  font-size: 13px;
}

#header-interviewer-name {
  color: #333333;
  font-size: 13px;
}

#header-interview-date {
  color: #333333;
  font-size: 13px;
}

#header-subject-id {
  color: #333333;
  font-size: 13px;
}

#header-protocol-id {
  color: #333333;
  font-size: 13px;
}

#header-study-name {
  color: #333333;
  font-size: 13px;
}

#header-event-name {
  color: #333333;
  font-size: 13px;
}

#header-event-date {
  color: #333333;
  font-size: 13px;
}

#header-site-name {
  color: #333333;
  font-size: 13px;
}

#header-event-location {
  color: #333333;
  font-size: 13px;
}

#header-secondary-id {
  color: #333333;
  font-size: 13px;
}


#footer-investigator {
  color: #333333;
  padding-bottom: 8px;
}

#footer-pager {
  color: #BBBBBB;
  font-size: 11px;
}

#footer-date {
  color: #BBBBBB;
  font-size: 11px;
  padding-right:40px;
}

.repeating_item_header {
  border:1px solid;  
  font-size: 11px;
  font-weight: bold;
  background-color: #DDDDDD;
}

.repeating_item_group {
  /* border:1px solid; */ 
}
.repeating_item_option_names {
  /* border:1px solid; */ 
}

td.item-def-cell {
  vertical-align: top;  
}

