body {
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  margin-left:10px;
}

table.item-row {
 padding-left: 15px;
 padding-right: 15px;
}

h1 {
  font-weight:normal
  font-size: 12px;
}
h2 {
  font-weight:normal
  font-size: 11px;
}
h3 {
  font-weight:normal
  font-size: 10px;
}
h4 {
  font-weight:normal
  font-size: 9px;
}

.page-header {
  padding-top:15px;
  margin-bottom:30px;
}

.left-header {
  display: inline-block;
  width: 500px; 
  padding-right:200px;
  vertical-align: top;
}

.right-header{
  display: inline-block;
  width: 300px; 
  vertical-align: top;
}

.spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -259px;
}

a:link {
  color: black;
}

.with_border {
  border:1px solid black;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_centered {
  text-align: center; 
}

.text-right-aligned {
  text-align: right; 
}

.text-left-aligned {
  text-align: left; 
}


.repeating_item_wrapper{
  display:inline-block;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:5x;
}


.item_def_wrapper{
  /*min-width:400px; */
  padding-top:0px;
  padding-bottom:0px;
  margin-top:0px;
  margin-bottom:0px;
  margin-right:10px;
  padding-left: 5px;
}

.item_def_number{
  vertical-align: top;
  display: inline-block;
  font-size: 0.8em;
  font-weight: normal;
}

.item_def_title{
  vertical-align: top;
  display: inline-block;
  min-width:170px;
  font-size: 0.8em;
  font-weight: normal;
}

div.item_def_control{
  vertical-align: bottom;
  display: inline-block;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
}

span.item_def_control{
  vertical-align: bottom;
  display: inline-block;
  font-size: 0.7em;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
}

.item_def_format_label{
  vertical-align: middle;
  font-size: 0.7em;
}

.checkbox_control{
  font-size: 0.6em;
}

.item_def_repeating_unit {
  display: inline-block;
  font-size: 0.6em;
}

.header-title {
  background-color:#DDDDDD;
  padding-left:10px;
  padding-right:10px;
  margin-top:0px;
  margin-bottom:0px;
}

.section-title {
  background-color: #B5B5B5;
  border: thin solid #999999;
  font-size: 11px;
  font-weight:bold;
  padding-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 3px;
  vertical-align: top;
}


.section-info {
  background-color: #B5B5B5;
  border: thin solid #999999;
  font-size: 11px;
   padding-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 3px;
  vertical-align: top;
}

.title_manage { 
  color: #D4A718;
}

.select-option { 
  display: block;
  padding-top:1px;
}

.header-text {
  color: #333333;
  font-size: 13px;
  padding-bottom: 7px;
}

.investigator-text {
  color: #333333;
  padding-top: 100px;
}

.repeating_item_header {
  border:1px solid;  
  font-size: 13px;
  font-weight: bold;
  background-color: #DDDDDD;
}

.repeating_item_group {
}
.repeating_item_option_names {
  font-weight: bold;
}

td.item-def-cell {
  vertical-align: top;  
}

.repeating_item_group_header{
  font-size: 11px;
  line-height: 15px;
  color: #4D4D4D;
}

.page-break-screen {
  display: block; 
  margin-top: 300px;
  margin-bottom:50px;
}

.vertical-spacer-30px {
  margin-top: 30px;
}

.vertical-spacer-20px {
  margin-top: 20px;
}

table.repeating-horiz-items td, th {
   border:none;
}

input[type="text"], textarea {
  display: inline-block;
  background-color : #EEEEEE; 
  border: none;
  width: 70%;
  margin-top:3px;
  margin-bottom:3px;
}


@media all {
  .page-break { display: none; }
}

@media print {
  .page-break { display: block; page-break-before: always; }
  
  body {
    background-color: white;
  }
  
  .no_print {
    display: none; 
  }
  
  .page-break-screen {
    display: none; 
  }
}


