body {
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

table.item-row {
 padding-left: 15px;
 padding-right: 15px;
}

h1 {
  font-weight:normal
  font-size: 12px;
}
h2 {
  font-weight:normal
  font-size: 11px;
}
h3 {
  font-weight:normal
  font-size: 10px;
}
h4 {
  font-weight:normal
  font-size: 9px;
}

.page-header {
  padding-top:15px;
}

.left-header {
  display: inline-block;
  width: 500px; 
  vertical-align: top;
}

.right-header{
  display: inline-block;
  width: 300px; 
  vertical-align: top;
  margin-left: 200px;
}

#page-footer {
  position:absolute;
  width:100%;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  bottom:0px;  
}

.single-page {
  position: relative;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  background-color: white;
}

.single-page-landscape {
  position: relative;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  background-color: white;
}


.spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -259px;
}

a:link {
  color: black;
}

.with_border {
  border:1px solid black;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_centered {
  text-align: center; 
}

.text-right-aligned {
  text-align: right; 
}

.text-left-aligned {
  text-align: left; 
}

#loginError  {
  color: red;
}

.repeating_item_wrapper{
  display:inline-block;
  margin-top:0px;
  margin-bottom:0px;
  margin-left:5x;
}


.item_def_wrapper{
  min-width:400px;
  padding-top:0px;
  padding-bottom:0px;
  margin-top:0px;
  margin-bottom:0px;
  margin-right:10px;
  padding-left: 5px;
}

.item_def_number{
  vertical-align: top;
  display: inline-block;
  font-size: 0.8em;
  font-weight: normal;
}

.item_def_title{
  vertical-align: top;
  display: inline-block;
  min-width:170px;
  font-size: 0.8em;
  font-weight: normal;
}

div.item_def_control{
  vertical-align: bottom;
  display: block;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
}

span.item_def_control{
  vertical-align: bottom;
  display: inline-block;
  font-size: 0.7em;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
}

.item_def_format_label{
  vertical-align: bottom;
  font-size: 0.7em;
}

.checkbox_control{
  font-size: 0.6em;
}

.header-title {
  background-color:#DDDDDD;
  padding-left:10px;
  padding-right:10px;
  margin-top:20px;
  margin-bottom:10px;
}

.section-title {
    background-color: #B5B5B5;
	 border: thin solid #999999;
     font-size: 0.6em;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    vertical-align: top;
}

.text-background {
  display: inline-block;
  background-color:#EEEEEE;
  width: 110px;
  height: 20px;
  margin-left:5px;
  margin-right:5px;
}

.text-background-repeating {
  display: inline-block;
  vertical-align:middle;
  background-color:#EEEEEE;
  width: 50px;
  height: 20px;
  margin-left:5px;
  margin-right:5px;
  margin-top:5px;
  margin-bottom:5px;
}

.title_manage { 
  color: #D4A718;
}

.select-option { 
  padding-top:1px;
}

.header-text {
  color: #333333;
  font-size: 13px;
  padding-bottom: 7px;
}

.investigator-text {
  color: #333333;
  padding-bottom: 8px;
}

#footer-pager {
  color: #BBBBBB;
  font-size: 11px;
}

#footer-date {
  color: #BBBBBB;
  font-size: 11px;
  padding-right:40px;
}

.repeating_item_header {
  border:1px solid;  
  font-size: 11px;
  font-weight: bold;
  background-color: #DDDDDD;
  max-height: 300px;
}

.repeating_item_group {
  min-height: 50px;
}
.repeating_item_option_names {
  min-height: 50px;
}

td.item-def-cell {
  min-height: 50px;
  vertical-align: top;  
}

.repeating_item_group_header{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  line-height: 15px;
  color: #4D4D4D;
}

