body {
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

div.blocking {
 width:1030px; 
 padding-left: 15px;
 padding-right: 15px;
}

h1,h2,h3,h4 {font-weight:normal}

.page-footer {
  position:absolute;
  width:100%;
  bottom:0px;  
}

.single-page {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 120px;
  padding-left: 10px;
  padding-right: 10px;
  border:1px inset #333333;
  width:1030px;
  height:1320px;
}


.spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -259px;
}

a:link {
  color: black;
}

.with_border {
  border:1px solid black;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_centered {
  text-align: center; 
}

p.link_title {
  position: absolute;
  left: 10px;
  bottom: 8px;
  margin: 0;
  color: white;
  font-size: 1.3em;
}


h3.link_title {
  position: absolute;
  left: 14px;
  bottom: 20px;
  margin: 0;
  color: white;
  font-size: 1.6em;
  font-weight:normal;
}

#loginError  {
  color: red;
}



.item_def_wrapper{
  display:inline-block;
  width:450px;
  min-height:50px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:20px;
}

.item_def_wrapper_3col{
  display:inline-block;
  width:300px;
  min-height:50px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:10px;
}

.item_def_number{
  vertical-align: top;
  display: inline-block;
  font-size: 0.9em;
  font-weight: normal;
}

.item_def_title{
  vertical-align: top;
  display: inline-block;
  width:170px;
  font-size: 0.9em;
  font-weight: normal;
}

div.item_def_control{
  vertical-align: bottom;
  display: block;
  min-height: 20px;
  width:140px;
}

span.item_def_control{
  vertical-align: bottom;
  display: inline-block;
  min-height: 20px;
  width:140px;
}


span.item_def_control_3col{
  vertical-align: bottom;
  display: inline-block;
  min-height: 20px;
  width:100px;
}

.item_def_format_label{
  display: inline-block;
  vertical-align: bottom;
  font-size: 0.8em;
}

.checkbox_control{
  font-size: 0.7em;
}

.gray_bg {
  background-color:#DDDDDD;
  padding-left:10px;
  padding-right:10px;
}

.title_manage { 
  color: #D4A718;
}

