body {
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

div.blocking {
 width:100%; 
}

.spinner {
  display:none;
}

a:link {
  color: black;
}

.with_border {
  border:1px solid black;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_centered {
  text-align: center; 
}

p.link_title {
  position: absolute;
  left: 10px;
  bottom: 8px;
  margin: 0;
  color: white;
  font-size: 1.3em;
}


h3.link_title {
  position: absolute;
  left: 14px;
  bottom: 20px;
  margin: 0;
  color: white;
  font-size: 1.6em;
  font-weight:normal;
}

#loginError  {
  color: red;
}

#main_screen {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  /* height: 835px; */
}



#form_wrapper{
  width:940px;
  /* min-height:1000px;*/
  padding:15px 15px 15px 15px;
  margin-top:50px;
  margin-bottom:50px;
	display: none;
}

.item_def_wrapper{
  display:inline-block;
  width:450px;
  height:50px;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:20px;
}

.item_def_wrapper_3col{
  display:inline-block;
  width:300px;
  height:50px;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
}

.item_def_number{
  vertical-align: top;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
}

.item_def_title{
  vertical-align: top;
  display: inline-block;
  width:170px;
  font-size: 0.9em;
  font-weight: bold;
}

div.item_def_control{
  vertical-align: bottom;
  display: block;
  height: 100px;
  width:140px;
}

span.item_def_control{
  vertical-align: bottom;
  display: inline-block;
  height: 20px;
  width:140px;
}


span.item_def_control_3col{
  vertical-align: bottom;
  display: inline-block;
  height: 20px;
  width:100px;
}

.item_def_format_label{
  display: inline-block;
  vertical-align: bottom;
  font-size: 0.8em;
}

.checkbox_control{
  font-size: 0.7em;
}

.gray_bg {
  background-color:#DDDDDD;
  padding-left:10px;
  padding-right:10px;
}

.title_manage { 
  color: #D4A718;
}

