@media print { 
  body {
    background-color: white;
  }
  
  .no_print {
    display: none; 
  }

  .header-title {
    background-color:#DDDDDD;
    padding-left:10px;
    padding-right:10px;
    margin-top:20px;
    margin-bottom:0px;
  }
  
  .section-title {
    background-color:#DDDDDD;
    padding-left:10px;
    padding-right:10px;
    margin-top:0px;
    margin-bottom:0px;
  }
  
   #footer {
    position: absolute;
    bottom: 0;
  }
  
  .single-page {
    border:none;
  }
  
  .single-page-landscape {
    border:none;
  }

}