<div class='e_item_def_wrapper'>
  <span class='e_item_def_number'>${itemNumber}</span>
  <span class='e_item_def_title'>${name}</span>
  {{if responseType == 'text' || responseType == 'calculation'}}
  <span class='e_item_def_control'> <input type="text" class="e_text_input"/>
  {{if dataType == 'date'}}
  <a href='#' class='cal_widget'/>
  {{/if}}
  </span>
  {{else responseType == 'single-select'}}
  <span class='e_item_def_control'> 
    <select>
      <option value="">(select one)</option> 
      {{each optionNames}}
        <option value="${id}">${label}</option> 
      {{/each}}
    </select>
  </span>
  {{else}}
    who knows?
  {{/if}}
  <span class="e_item_def_format_label">${unitLabel}</span> 
</div> 