
<td valign='center'>
  <table class="metadataTable">
    <tr>
<!--  <td colspan="7" class="DNBackgroundColorForHeaders"><a id="${itemNameLink}"></a>${itemName}: ${app_metadataLabel}</td>  -->
      <td colspan="7" class="MetadataBackgroundColorForHeaders"><a id="${itemNameLink}"></a>${itemName}: ${app_metadataLabel}</td>
    </tr>
    <!--  <tr  class='MetadataBackgroundColorForHeaders'>  -->
    <tr class="provenance">
      <td><strong>${app_left_item_textLabel}:</strong></td>
      <td><strong>${app_unitsLabel}:</strong></td>
      <td><strong>${app_data_typeLabel}:</strong></td>
      <td><strong>${app_response_options_textLabel}&nbsp;(${app_response_valuesLabel}):</strong></td>
      <td><strong>${app_rule_group_labelLabel}:</strong></td>
    </tr>
    <tr class="provenance">
      <td> {{html leftItemText}} </td>
      <td>{{html units}}</td>
      <td> {{html dataType}}</td>
      <td> {{each responseOptions}}
        {{html label}}&nbsp;({{html id}})<br />
        {{/each}}</td>
      <td>{{html groupLabel}}</td>
    </tr>
  </table>
 </td>
