<td>
<table width="100%">
<tr>
<td width="30%">
{{html app_eventNameLabel}}: {{html studyEventName}}
<br/>
{{html app_eventLocationLabel}}:{{html studyEventLocation}}
</td>
<td width="30%">

{{html app_eventStartDateLabel}}:
{{html startDate}}
<br/>
{{html app_eventEndDateLabel}}:
{{html endDate}}

</td>
<td width="30%">

{{html app_eventStatus}}:
{{html studyEventStatus}}

</td>
</tr>
{{if electronicSig}}
<tr>
Electronic Signature: {{html electronicSig}}
{{html app_meaning_of_signatureLabel}}: {{html app_meaning_of_signature}}
</tr>
{{/if}}

</table>
</td>