<div class='item_def_wrapper'>
  <span class='item_def_number'>${itemNumber}</span>
  <span class='item_def_title'>${name}</span>
  {{if responseType == 'text' || responseType == 'calculation'}}
  <span class='item_def_control'> __________ </span>
  {{else responseType == 'single-select'}}
  <span class='item_def_control'> 
    <div class='checkbox_control'>
      {{each optionNames}}
        <div><input type='checkbox'/> ${label}</div>
      {{/each}}
    </div>
  </span>
  {{else}}
    who knows?
  {{/if}}
  <span class="item_def_format_label">${unitLabel}</span> 
</div> 