<div class='single-page'>

  <div id='page-header'>
    <div id='left-header'>
      <div id='header-protocol-id' class='text-left-aligned'>{{html app_protocolIDLabel}}: ${protocolName ? protocolName : '___________________'}</div>  
      <div id='header-study-name' class='text-left-aligned'>{{html app_studyNameLabel}}: ${studyName ? studyName : '___________________'}</div>  
      <div id='header-site-name' class='text-left-aligned'>{{html app_siteNameLabel}}: ${siteName ? siteName : '___________________'}</div>  
      {{if secondaryLabelViewable == true}}
        <div id='header-secondary-id' class='text-left-aligned'>{{html app_secondaryLabel}}: </div>  
      {{/if}}
      {{if pageType != app_studyCoverPageType}}
        <div id='header-event-name' class='text-left-aligned'>{{html app_eventNameLabel}}: ${eventName ? eventName : '___________________'}</div>  
      {{/if}}
      {{if eventLocationRequired == 'required'}}
        <div id='header-event-location' class='text-left-aligned'>{{html app_eventLocationLabel}} *: ${eventName ? eventName : '___________________'}</div>  
      {{else eventLocationRequired == 'optional'}}
        <div id='header-event-location' class='text-left-aligned'>{{html app_eventLocationLabel}}: ${eventName ? eventName : '___________________'}</div>  
      {{/if}}
      {{if pageType != app_studyCoverPageType}}
        <div id='header-event-date' class='text-left-aligned'>{{html app_eventDateLabel}}: ___________________</div>  
      {{/if}}
    </div> 
    <div id='right-header'>
      {{if showPersonID == true && personIDRequired == 'required'}}
      <div id='header-subject-id'>{{html app_eventLocationLabel}} *:___________</div>  
      {{else showPersonID == true && personIDRequired == 'optional'}}
      <div id='header-subject-id'>{{html app_personIDLabel}}:___________</div>  
      {{/if}}
      <div id='header-subject-id'>{{html app_personIDLabel}}:___________</div>  
      {{if collectSubjectDOB == 1}}
        <div id='header-subject-dob'>{{html app_studySubjectDOBLabel}}:___________</div>  
      {{else collectSubjectDOB == 2}}
        <div id='header-subject-dob'>{{html app_studySubjectBirthYearLabel}}:___________</div>  
      {{/if}}
      {{if interviewerNameRequired == true}}
        <div id='header-interviewer-name'>Interviewer *:___________</div>  
      {{else interviewerNameRequired == false}}
        <div id='header-interviewer-name'>Interviewer:___________</div>  
      {{/if}}
      {{if interviewDateRequired == true}}
        <div id='header-interview-date'>{{html app_interviewDateLabel}} *:___________</div>  
      {{else interviewDateRequired == false}}
        <div id='header-interview-date'>{{html app_interviewDateLabel}}:___________</div>  
      {{/if}}
      
    </div>
  </div>
  
  <div class='page-content'>
    {{html pageRenderString}}
  </div>
  
  <div id='page-footer'>
    {{if pageType == app_studyEventCoverPageType}}
    <div id='footer-investigator' class='centered text_centered'>
      {{html app_investigatorNameLabel}}: ___________________&nbsp;&nbsp;&nbsp;&nbsp;{{html app_investigatorSignatureLabel}}: ___________________
    </div>
    {{/if}}
    <div id='footer-pager' class='centered text_centered'>${app_pageNumberLabel.replace(0, currPage).replace(1, totalPages)} </div>  
    <div id='footer-date' class='text-right-aligned'>{{html app_datePrintedLabel}} ${app_printTime}</div>  
  </div>
  
</div>