<div class='item_def_wrapper_3col'>
  <span class='item_def_number'>${itemNumber}</span>
  <span class='item_def_title'>${name}</span>
  {{if responseType == 'text' || responseType == 'calculation' || responseType == 'file'}}
  <span class='item_def_control_3col'> __________ </span>
  {{else responseType == 'radio'}}
  <span class='item_def_control_3col'> Yes ____&nbsp;&nbsp;&nbsp;No ____ </span>
  {{else responseType == 'single-select'}}
  <div class='item_def_control_3col'> 
    <div class='checkbox_control'>
      {{each optionNames}}
        <div><input type='checkbox'/> ${label}</div>
      {{/each}}
    </div>
  </div>
  {{else}}
    who knows?
  {{/if}}
  <span class="item_def_format_label">${unitLabel}</span> 
</div> 