
<td valign='center'>
  <table border="1" width="100%" >
    <tr class="AL_DNBackgroundColorForHeaders">
      <td colspan="7">${title}</td>
    </tr>
    <tr class="provenance">
      <td>${app_noteLabel}</td>
      <td>${app_assigned_toLabel}</td>
      <td>${app_IDLabel}</td>
      <td>${app_typeLabel}</td>
      <td>${app_current_statusLabel}</td>
      <td>${app_n_of_notesLabel}</td>
      <td>${app_CreatedLabel}</td>
    </tr>
    
    {{each discrepancyNotes}}
	{{if parentThread }}
    <tr class='DNParentRowColor' >
    {{else}}
    <tr class="provenance">
    {{/if}}  
    
	<td><strong>{{html description}} </strong>
	<p class="dn_notes">{{html detailedNote}}</p></td>

      <td>{{html user}}</td>
      <td>{{html id}}</td>
      <td>{{html parent_noteType}}</td>
      <td>{{html status}}</td>
      <td>{{html numberOfChildNotes}}</td>
      <td>{{html dateUpdated}}
      
      {{if userName}} ({{html userName}})   {{/if}} 
      
       </td>


    </tr>
    {{/each}}
  </table>
</td>
