<table  class="page-header">
<tr>
<td class='left-header' width=50%>

    <div class='header-text text-left-aligned'>
    {{if studyName}}
    <b>${studyName}(${protocolName})</b>
   
     {{/if}}
    </div>  
        {{if siteName}}
    <div class='header-text text-left-aligned'>{{html app_siteNameLabel}}:&nbsp;

    <b>${siteName}(${protocolName})</b>
    {{/if}}
    
      </div>  
      {{if pageType != app_studyCoverPageType}}
      <div class='header-text text-left-aligned'>
      {{if eventName}}
       <b>${eventName}</b>(
       ${ app_studySubjectStartDate}
       --${eventEndDate}
       )
       
          {{/if}}
           </div>  
 
    {{/if}}
            <div class='header-text text-left-aligned'>${app_eventStatus}: ${studyEventStatus}</div>  

    
</td>
<!-- study subject block -->
<td class='right-header' width="50%">
<!--   <div class='header-text text-left-aligned-bold'>${app_subjectLabel}:</div> -->
    <div class='header-text text-left-aligned'>
    
    {{if ssID }}
    <b>${ssID}</b>

    {{/if}}
    
    
    </div>  
    
    {{if showPersonID == 'true' &&  app_personIDRequired != 'not used'}}
      <div class='header-text text-left-aligned'>{{html app_personIDLabel}}:${personId?personId:'_______________________'}</div>  
    {{/if}}
    
    {{if app_secondaryLabelViewable == 'true'}}
      <div class='header-text text-left-aligned'>{{html app_secondaryLabel}}:${secondaryId?secondaryId:' ___________________'}</div>  
    {{/if}}
    {{if collectSubjectDOB != 3}}
      <div class='header-text text-left-aligned'>{{html app_studySubjectDOBLabel}}: ${subjectBday ? subjectBday : '___________________'}</div>  
  {{/if}}
  {{if app_genderRequired}}
  {{if app_genderRequired=='true'}}
  	  <div class='header-text text-left-aligned'>{{html genderLabel}}: ${gender!='' ? gender : '___________________'}</div>
  
  {{/if}}
  {{/if}}
  <div class='header-text'>${app_subjectStatus}: ${subjectStatus? subjectStatus:'__________________________________'}</div>
    
    <div class='header-text text-left-aligned'>${app_groupLabel}:${groupClassInfo?groupClassInfo:'__________________________________'}</div>

      <div class='header-text'>${app_crfLabel} {{html app_studySubjectStatusLabel}}: ${app_studySubjectStatus ? app_studySubjectStatus : '___________________'}</div>  

{{if app_interviewerNameRequired != "no"}}
      <div class='header-text'>{{html app_interviewerLabel}}: ${interviewerName?interviewerName:'_____________________________'}</div>  
    {{/if}}
    {{if app_interviewDateRequired != "no"}}
      <div class='header-text'>{{html app_interviewDateLabel}}: ${interviewDate?interviewDate:'_______________________'}</div>  
    {{/if}}
 
</td>
</tr>


</table>