
<td valign='center'>
  <table class="metadataTable">
    <tr>
<!--  <td colspan="7" class="DNBackgroundColorForHeaders"><a id="${itemNameLink}"></a>${itemName}: ${app_metadataLabel}</td>  -->
      <td colspan="7" id="MetadataBackgroundColorForHeaders"><a id="${itemNameLink}"></a>${itemName}: ${app_metadataLabel}</td>
    </tr>
    <!--  <tr  class='MetadataBackgroundColorForHeaders'>  -->
    <tr class="provenance">
      <td id="left_itemLabel"><strong>${app_left_item_textLabel}:</strong></td>
      <td id="unitLabel"><strong>${app_unitsLabel}:</strong></td>
      <td id="typeLabel"><strong>${app_data_typeLabel}:</strong></td>
      <td id="optTextLabel"><strong>${app_response_options_textLabel}&nbsp;(${app_response_valuesLabel}):</strong></td>
      <td id="groupLabel" class="right"><strong>${app_rule_group_labelLabel}:</strong></td>
    </tr>
    <tr class="provenance">
      <td id="left_item"> {{html leftItemText}} </td>
      <td id="units">{{html units}}</td>
      <td id="type"> {{html dataType}}</td>
      <td id="option"> {{each responseOptions}}
        {{html label}}&nbsp;({{html id}})<br />
        {{/each}}</td>
      <td id="group" class="right">{{html groupLabel}}</td>
    </tr>
  </table>
 </td>
