<td>
<table id="page-header">
    <tr>
      <td id="eventName"><div class="eventHeaderLabel">{{html app_eventNameLabel}}:</div>&nbsp;<strong>{{html studyEventName}}</strong></td>
      <td id="eventStartDate"><div class="eventHeaderLabel">{{html app_eventStartDateLabel}}:</div>&nbsp;<strong>{{html startDate}}</strong></td>
      <td id="eventStatus"><div class="eventHeaderLabel">{{html app_eventStatus}}:</div>&nbsp;<strong>{{html studyEventStatus}}</strong></td>
    </tr>
    <tr>
      <td id="eventLocation">
         {{if app_eventLocationRequired == 'required'}}
         <div class="eventHeaderLabel">{{html app_eventLocationLabel}}:</div>&nbsp;<strong>{{html studyEventLocation}}</strong>
      {{/if}}
        
      {{if app_eventLocationRequired == 'optional'}}
         <div class="eventHeaderLabel">{{html app_eventLocationLabel}}:</div>&nbsp;<strong>{{html studyEventLocation}}</strong>
      {{/if}}
         </td>
  
      <td id="eventEndDate"><div class="eventHeaderLabel">{{html app_eventEndDateLabel}}:</div>&nbsp;<strong>{{html endDate}}</strong></td>
      <td>&nbsp;</td>
    </tr>
  </table>
  {{if electronicSig}}
  <div class="sigbox">
    <p class="esig">{{html app_the_eCRF_that_are_part_of_this_event_were_signed_by }}&nbsp;{{html electronicSig}} ({{html app_server_time}}) {{html app_under_the_following_attestation}}:</p>
    <p class="esig">{{html app_meaning_of_signature}}</p>
  </div>
  {{/if}}
 </td>
