
<td valign='center'><table border="1" width="100%" >
    
    <!-- <tr class='ALBackgroundColorForHeaders'> -->
    <tr class="AL_DNBackgroundColorForHeaders">
      <td colspan="5">${title}</td>
    </tr>
    <tr class="provenance">
      <td>${app_audit_eventLabel}</td>
      <td>${app_date_time_of_serverLabel}</td>
      <td>${app_userLabel}</td>
      <!--       <td>${app_value_typeLabel}</td> -->
      <td>${app_oldLabel}</td>
      <td>${app_newLabel}</td>
    </tr>
    {{each auditLogs}}
    <tr class="provenance">
      <td> {{html auditType}} </td>
      <td>{{html dateTime}}</td>
      <td>{{html user}}</td>
      <!--       <td>{{html value}}</td> -->
      <td>{{html oldValue}}</td>
      <td>{{html newValue}}</td>
    </tr>
    {{/each}}
  </table></td>
