
<td class="study_subject_header_title" valign='center'>
<h3 id="tocHeader">${app_study_subjectLabel}&nbsp;${app_thisSubjectsData["@OpenClinica:StudySubjectID"]}&nbsp;${app_tableOfContentsLabel}</h3>
  <table border="1" width="100%" >
    <tr class="tocLabel">
      <td id="toc_eventLabel">{{html app_studyEventLabel}}</td>
      <td id="toc_crfLabel">{{html app_eventCRFLabel}}</td>
      <td id="toc_statusLabel">{{html app_statusLabel}}</td>
    </tr>
    {{each subjectTableOfCnts}}
    <tr class="tocEvent">
      <td id="toc_eventName">{{html studyEventName}}{{if studyEventRepeatingflag == 'Yes'}}&nbsp;({{html studyEventRepeatKey}}){{/if}}
      </td>
      <td>&nbsp;</td>
      <td id="toc_status">{{html studyEventStatus}}</td>
    </tr>
    {{each forms}}
    <tr>
      <td>&nbsp;</td>
      <td id="toc_formName">${formName}</td>
      <td id="toc_formStatus">${formStatus}</td>
    </tr>
    {{/each}}
    
    {{/each}}
  </table></td>
