<td valign='center'>

  <table>
  <tr>&nbsp;</tr>
  <tr><td>${value}:Audit History </td>
  </tr>
  </table>
  <table border="1" width="100%" >
 
  <tr>
  
  <td>Audit Event</td>
 <td>Date/Time of Server</td>
 <td>User</td>
 <td>Value Type</td>
  <td>Old</td>
  <td>New</td>
  <td>Group Label</td>
  </tr>
   {{each auditLogs}}
  <tr>
  <td> {{html auditType}} </td>
  <td>{{html dateTime}}</td>
  <td>{{html userId}}</td>
  <td>{{html value}}</td>
  <td>{{html oldValue}}</td>
  <td>{{html newValue}}</td>
 <td>${itemgroupHeader}</td>
  </tr>
  {{/each}}
  </table>
  </td>