<table border="0" class="page-header">
<tr>
<td>
  <div class='left-header'>
    <div class='header-text text-left-aligned'>{{html app_protocolIDLabel}}: ${protocolName ? protocolName : '___________________'}</div>  
    <div class='header-text text-left-aligned'>{{html app_studyNameLabel}}: ${studyName ? studyName : '___________________'}</div>  
    <div class='header-text text-left-aligned'>{{html app_siteNameLabel}}: ${siteName ? siteName : '___________________'}</div>  
    {{if pageType != app_studyCoverPageType}}
      <div class='header-text text-left-aligned'>{{html app_eventNameLabel}}: ${eventName ? eventName : '___________________'}</div>  
    {{/if}}
    {{if app_eventLocationRequired == 'required'}}
      <div class='header-text text-left-aligned'>{{html app_eventLocationLabel}}: ${app_eventLocation ? app_eventLocation : '___________________'}</div>  
    {{else app_eventLocationRequired == 'optional'}}
      <div class='header-text text-left-aligned'>{{html app_eventLocationLabel}}: ${app_eventLocation ? app_eventLocation : '___________________'}</div>  
    {{/if}}
    {{if pageType != app_studyCoverPageType}}
      <div class='header-text text-left-aligned'>{{html app_eventDateLabel}}: ___________________</div>  
    {{/if}}
  </div> 
</td>
<td>
  <div class='right-header'>
    <div class='header-text'>{{html app_studySubjectIDLabel}}:___________</div>  
    {{if showPersonID == true && personIDRequired == 'required'}}
    <div class='header-text'>{{html app_eventLocationLabel}}:___________</div>  
    {{else showPersonID == true && personIDRequired == 'optional'}}
    <div class='header-text'>{{html app_personIDLabel}}:___________</div>  
    {{/if}}
    <div class='header-text'>{{html app_personIDLabel}}:___________</div>  
    {{if app_secondaryLabelViewable == 'true'}}
      <div class='header-text text-left-aligned'>{{html app_secondaryLabel}}: ___________________</div>  
    {{/if}}
    {{if collectSubjectDOB == 1}}
      <div class='header-text'>{{html app_studySubjectDOBLabel}}:___________</div>  
    {{else collectSubjectDOB == 2}}
      <div class='header-text'>{{html app_studySubjectBirthYearLabel}}:___________</div>  
    {{/if}}
    {{if interviewerNameRequired == true}}
      <div class='header-text'>Interviewer:___________</div>  
    {{else interviewerNameRequired == false}}
      <div class='header-text'>Interviewer:___________</div>  
    {{/if}}
    {{if interviewDateRequired == true}}
      <div class='header-text'>{{html app_interviewDateLabel}}:___________</div>  
    {{else interviewDateRequired == false}}
      <div class='header-text'>{{html app_interviewDateLabel}}:___________</div>  
    {{/if}}
  </div>
</td>
</tr>
</table>