<div class='item_def_wrapper'>
  <span class='item_def_number'>{{html itemNumber}}</span>
  <span class='item_def_title'>{{html name}}</span>
  {{if responseType == 'text' || responseType == 'calculation' || responseType == 'file'}}
  <span class='item_def_control'> __________ </span>
  {{else responseType == 'radio'}}
  <span class='item_def_control'> Yes ____&nbsp;&nbsp;&nbsp;No ____ </span>
  {{else responseType == 'single-select' || responseType == 'multi-select' || responseType == 'checkbox'}}
  <div class='item_def_control'> 
    <div class='checkbox_control'>
      {{each optionNames}}
        <div><input type='checkbox'/> {{html label}}</div>
      {{/each}}
    </div>
  </div>
  {{else}}
    who knows?
  {{/if}}
  <span class="item_def_format_label">{{html unitLabel}}</span> 
</div> 

