<td>
<h3 class="centered text_centered"> ${app_study_subjectLabel}&nbsp;${app_detailsLabel}</h3>
<table id="page-header">
  <tr>
    <td class="left-header">
    {{if app_thisSubjectsData["@OpenClinica:DateOfBirth"] }}
      <div>{{html app_date_of_birthLabel}}:<b> ${app_thisSubjectsData["@OpenClinica:DateOfBirth"]}</b></div>
      {{/if}}
      {{if app_thisSubjectsData["@OpenClinica:Sex"] }}
      <div>{{html app_genderLabel}}:<b> ${app_thisSubjectsData["@OpenClinica:Sex"]}</b></div>
      {{/if}}             
      {{if app_thisSubjectsData["@OpenClinica:Status"] }}
      <div>{{html app_subject_statusLabel}}:<b> ${app_thisSubjectsData["@OpenClinica:Status"]}</b></div>
      {{/if}}
      </td>
    <td class="right-header">
    {{if app_thisSubjectsData["@OpenClinica:UniqueIdentifier"]}}
      <div>{{html app_subject_unique_IDLabel}}:<b> ${app_thisSubjectsData["@OpenClinica:UniqueIdentifier"]}</b></div>
      {{/if}}
      {{if app_thisSubjectsData["@OpenClinica:SecondaryID"] }}
      <div>{{html app_secondary_IDLabel}}:<b> ${app_thisSubjectsData["@OpenClinica:SecondaryID"]}</b></div>
      {{/if}}
      {{each subjectGroupData}}
      <div>{{html app_groupLabel}}: <b>({{html studyGroupName}}) - ({{html studyGroupClassName}})</b></div>
      {{/each}}
      </td>
  </tr>
</table>
</td>