<table  id="page-header">
<tr>
<td class='left-header'>

    <div class='header-text text-left-aligned'>{{html app_protocolIDLabel}}: ${protocolName ? protocolName : '___________________'}</div>  
    <div class='header-text text-left-aligned'>{{html app_studyNameLabel}}: ${studyName ? studyName : '___________________'}</div>  
    <div class='header-text text-left-aligned'>{{html app_siteNameLabel}}: ${siteName ? siteName : '___________________'}</div>  
    {{if pageType != app_studyCoverPageType}}
      <div class='header-text text-left-aligned'>{{html app_eventNameLabel}}: ${eventName ? eventName : '___________________'}</div>  
    {{/if}}
    {{if app_eventLocationRequired == 'required'}}
      <div class='header-text text-left-aligned'>{{html app_eventLocationLabel}}: ${app_eventLocation ? app_eventLocation : '___________________'}</div>  
    {{else app_eventLocationRequired == 'optional'}}
      <div class='header-text text-left-aligned'>{{html app_eventLocationLabel}}: ${app_eventLocation ? app_eventLocation : '___________________'}</div>  
    {{/if}}
    {{if pageType != app_studyCoverPageType}}
      <div class='header-text text-left-aligned'>{{html app_eventDateLabel}}: ___________________</div>  
    {{/if}}

</td>
<td class='right-header'>

    <div class='header-text'>{{html app_studySubjectIDLabel}}:___________</div>  
    
    {{if showPersonID == 'true' && app_personIDRequired != 'not_used' && app_personIDRequired != 'not used'}}
      <div class='header-text'>{{html app_personIDLabel}}:___________</div>  
    {{/if}}
    
    {{if app_secondaryLabelViewable == 'true'}}
      <div class='header-text text-left-aligned'>{{html app_secondaryLabel}}: ___________________</div>  
    {{/if}}
    {{if collectSubjectDOB == 1}}
      <div class='header-text'>{{html app_studySubjectDOBLabel}}:___________</div>  
    {{else collectSubjectDOB == 2}}
      <div class='header-text'>{{html app_studySubjectBirthYearLabel}}:___________</div>  
    {{/if}}
    {{if app_interviewerNameRequired != "not_used"}}
      <div class='header-text'>{{html app_interviewerLabel}}:___________</div>  
    {{/if}}
    {{if app_interviewDateRequired != "not_used"}}
      <div class='header-text'>{{html app_interviewDateLabel}}:___________</div>  
    {{/if}}

</td>
</tr>
</table>
