<td valign='center'>

  <table>
  <tr>
  <td><a id="${itemName}"></a>${itemRefName}</td>
  </tr>
  <tr><td>${itemRefName} :Metadata</td>
  </tr>
  </table>
  <table border="1" width="100%" >
  <tr>
  
  <td>Left Item Text</td>
 <td>Units</td>
 <td>Response Options Text</td>
 <td>Response Options Values</td>
  </tr>
  <tr>
  <td> {{html leftItemText}} </td>
  <td>{{html units}}</td>
 <td>
   {{each responseOptions}}
        
         {{html label}}
        
      {{/each}}
      </td>
      <td>
   {{each responseOptions}}
        
         {{html id}}
        
      {{/each}}
      </td>
  </tr>
  </table>
  </td>