<td class='repeating_item_group' valign='top'>
  <table border='1' width='100%' height='100%'>
  <tr class="repeating_item_option_names">
  
  {{if responseType == 'text' || responseType == 'calculation' || responseType == 'file' || responseType == 'instant-calculation'}}
  <div class='text-background-repeating'></div>
  {{else responseType == 'radio'}}
  <div class='item_def_control'> 
    <div class='checkbox_control'>
      {{each optionNames}}
        <td align='center' valign='center'><div class='select-option'><input type='radio'/></div></td>
      {{/each}}
    </div>
  </div>
  {{else responseType == 'single-select'}}
  <div class='item_def_control'> 
    <div class='checkbox_control'>
      {{each optionNames}}
        <td align='center' valign='center'><div class='select-option'><input type='checkbox'/></div></td>
      {{/each}}
    </div>
  </div>
 {{else responseType == 'multi-select' || responseType == 'checkbox'}}
  <div class='item_def_control'> 
    <div class='checkbox_control'>
      {{each multiSelectOptionNames}}
        <td align='center' valign='center'><div class='select-option'><input type='checkbox'/></div></td>
      {{/each}}
    </div>
  </div>
  {{else}}
    who knows?
  {{/if}}
  </tr>
  </table>
</td>

