
<td valign='center'>
  <table class="itemTable">
    {{if repeating}}
    <tr>
      <td colspan="8" class="DNBackgroundColorForHeaders">${value}(${repeatRow}): Notes & Discrepancies </td>
    </tr>
    {{/if}}
    
    
    {{if !repeating}}
    <tr>
      <td colspan="8" class="DNBackgroundColorForHeaders">${value}: Notes & Discrepancies </td>
    </tr>
    {{/if}}
    <tr class="provenance">
      <td>${app_noteLabel}</td>
      <td>${app_assigned_toLabel}</td>
      <td>${app_IDLabel}</td>
      <td>${app_typeLabel}</td>
      <td>${app_current_statusLabel}</td>
      <td>${app_n_of_notesLabel}</td>
      <td>${app_CreatedDateLabel}</td>
      <td>${app_CreatedByLabel}</td>
    </tr>
    {{each discrepancyNotes}}
    
    {{if parentThread }}
    <tr class="DNParentRowColor">{{else}}
    <tr class="provenance"> {{/if}}
      <td><strong>{{html description}} </strong>
        <p class="dn_notes">{{html detailedNote}}</p></td>
      <td>{{html user}}</td>
      <td>{{html id}} </td>
      <td>{{html parent_noteType}}</td>
      <td>{{html status}}</td>
      <td>{{html numberOfChildNotes}}</td>
      <td>{{html dateUpdated}} </td>
      <td>{{if userName}}{{html name}} ({{html userName}}){{/if}}</td>
    </tr>
    {{/each}}
  </table></td>
