<td class='item-def-cell'>
<div class='item_def_wrapper'>
  <table border="0">
  <tr>
  <td> 
  <span class='item_def_number'>{{html itemNumber}}</span>
  <span class='item_def_title'>{{html name}}</span>
  </td>
  {{if responseType == 'text' || responseType == 'calculation' || responseType == 'file' || 
       responseType == 'instant-calculation' || responseType == 'group-calculation'}}
  <td>  <input type='text'/> </td>
  {{else responseType == 'radio'}}
  <td>
  <div class='item_def_control ${isInline}'> 
    <div class='checkbox_control ${isInline}'>
      {{each optionNames}}
        <div class='select-option ${isInline}'><input type='radio'/> {{html label}}</div>
      {{/each}}
    </div>
  </div>
  </td>
  {{else responseType == 'single-select'}}
  <td>
  <div class='item_def_control ${isInline}'> 
    <div class='checkbox_control ${isInline}'>
      {{each optionNames}}
        <div class='select-option ${isInline}'><input type='checkbox'/> {{html label}}</div>
      {{/each}}
    </div>
  </div>
  </td>
 {{else responseType == 'multi-select' || responseType == 'checkbox'}}
  <td>
  <div class='item_def_control ${isInline}'> 
    <div class='checkbox_control ${isInline}'>
      {{each multiSelectOptionNames}}
        <div class='select-option ${isInline}'><input type='checkbox'/> {{html label}}</div>
      {{/each}}
    </div>
  </div>
  </td>
  {{else responseType == 'textarea'}}
  <td>
 <span><textarea cols="40" rows="5"></textarea></span>
  </td>
  {{else}}
    [item]
  {{/if}}
  <td>
  <span class="item_def_format_label">{{html unitLabel}}</span> 
  </td>
  <td>
  <span class='item_def_format_label'>{{html rightItemText}}</span>
  </td>
  </tr>
  </table>
</div> 
</td>