
<td valign='center'>
<table class="eventTable">    
    <!-- <tr class='ALBackgroundColorForHeaders'> -->
    <tr class="AL_DNBackgroundColorForHeaders">
      <td colspan="6">${title}</td>
    </tr>
    <tr class="provenance">
      <td><strong>${app_audit_eventLabel}:</strong></td>
      <td><strong>${app_date_time_of_serverLabel}:</strong></td>
      <td><strong>${app_userLabel}:</strong></td>
      <td><strong>${app_value_typeLabel}:</strong></td> 
      <td><strong>${app_oldLabel}:</strong></td>
      <td><strong>${app_newLabel}:</strong></td>
    </tr>
    {{each auditLogs}}
    <tr class="provenance">
      <td> {{html auditType}} </td>
      <td>{{html dateTime}}</td>
      <td>{{html user}}</td>
      <td>{{html valueType}}</td>    
      <td>{{html oldValue}}</td>
      <td>{{html newValue}}</td>
    </tr>
    {{/each}}
  </table></td>
