<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  
  <property resource="datainfo.properties" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%date{MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{35}:%L - %msg %n</Pattern>
    </layout>
  </appender>
  <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${log.dir}.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>${log.dir}%i.log</FileNamePattern>
      <MinIndex>1</MinIndex>
      <MaxIndex>3</MaxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>1MB</MaxFileSize>
    </triggeringPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%date{MM/dd HH:mm:ss} %-5level %logger{25}:%L - %msg %n %ex{full}</Pattern>
    </layout>
  </appender>
  <appender name="EDIT_CHECK_LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${log.dir}-editChecks.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>${log.dir}-editChecks%i.log</FileNamePattern>
      <MinIndex>1</MinIndex>
      <MaxIndex>3</MaxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>1MB</MaxFileSize>
    </triggeringPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%date{MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{35}:%L - %msg %n %ex{full}</Pattern>
    </layout>
  </appender>
  <appender name="WS_LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${log.dir}-ws.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>${log.dir}-ws%i.log</FileNamePattern>
      <MinIndex>1</MinIndex>
      <MaxIndex>3</MaxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>1MB</MaxFileSize>
    </triggeringPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%date{MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{35}:%L - %msg %n %ex{full}</Pattern>
    </layout>
  </appender>
  
  <logger additivity="false" name="org.akaza.openclinica.web.filter">
    <level value="DEBUG" />
    <appender-ref ref="LOGFILE"/>
  </logger>
  <!-- Show the sql queries generated by Hibernate -->
  <logger additivity="false" name="org.akaza.openclinica.control.admin">
    <level value="DEBUG" />
    <appender-ref ref="LOGFILE"/>
  </logger>
  <!-- Show the sql queries generated by Hibernate -->
  <logger additivity="false" name="org.hibernate.SQL">
    <level value="DEBUG" />
    <appender-ref ref="LOGFILE"/>
  </logger>
  <!-- Show the values being binded to sql queries generated by Hibernate -->
  <logger additivity="false" name="org.hibernate.type">
    <level value="TRACE" />
    <appender-ref ref="LOGFILE"/>
  </logger>
  <!-- Show All Hibernate log messages -->
  <logger additivity="false" name="org.hibernate">
    <level value="INFO" />
    <appender-ref ref="LOGFILE"/>
  </logger>
  <!-- Show All Spring Security log messages -->
  <logger additivity="false" name="org.springframework.security">
    <level value="DEBUG" />
    <appender-ref ref="LOGFILE"/>
  </logger>
  <logger additivity="false" name="org.springframework.orm.hibernate3">
    <level value="DEBUG" />
    <appender-ref ref="LOGFILE"/>
  </logger>
  
  <!-- Show All Spring framework io log messages -->
  <logger additivity="false" name="org.springframework.core.io">
    <level value="INFO" />
    <appender-ref ref="LOGFILE"/>
  </logger>
  <!-- Show All Spring framework log messages -->
  <logger additivity="false" name="org.springframework">
    <level value="INFO" />
    <appender-ref ref="LOGFILE"/>
  </logger>
  
  <!-- Show All Spring Web Services Messages -->
  <logger additivity="false" name="org.springframework.ws.server.MessageTracing.sent">
    <level value="TRACE" />
    <appender-ref ref="WS_LOGFILE"/>
  </logger>
  <!-- Show All Spring Web Services Messages -->
  <logger additivity="false" name="org.springframework.ws.server.MessageTracing.received">
    <level value="TRACE" />
    <appender-ref ref="WS_LOGFILE"/>
  </logger>
  
  <logger name="org.akaza.openclinica.logic.rulerunner">
    <level value="DEBUG" />
    <appender-ref ref="EDIT_CHECK_LOGFILE"/>
  </logger>
  
  <root>
    <!-- <level value="INFO" />
    <appender-ref ref="CONSOLE"/> -->
  </root>
</configuration>
