@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qrwzmi');
  src:  url('../fonts/icomoon.eot?qrwzmi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qrwzmi') format('truetype'),
    url('../fonts/icomoon.woff?qrwzmi') format('woff'),
    url('../fonts/icomoon.svg?qrwzmi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-sdv-text:before {
  content: "\e900";
}
.icon-doc:before {
  content: "\e800";
}
.icon-ok:before {
  content: "\e801";
}
.icon-lock:before {
  content: "\e802";
}
.icon-lock-open:before {
  content: "\e803";
}
.icon-search:before {
  content: "\e804";
}
.icon-pencil:before {
  content: "\e805";
}
.icon-user:before {
  content: "\e806";
}
.icon-cancel:before {
  content: "\e807";
}
.icon-ccw:before {
  content: "\e808";
}
.icon-calendar:before {
  content: "\e809";
}
.icon-plus:before {
  content: "\e80a";
}
.icon-flag:before {
  content: "\e80b";
}
.icon-download:before {
  content: "\e80c";
}
.icon-upload:before {
  content: "\e80d";
}
.icon-print:before {
  content: "\e80e";
}
.icon-icon-sign:before {
  content: "\e901";
}
.icon-icon-reassign-old:before {
  content: "\e902";
}
.icon-icon-stop:before {
  content: "\e903";
}
.icon-icon-removeRole2:before {
  content: "\e904";
}
.icon-icon-locked:before {
  content: "\e905";
}
.icon-icon-reassign:before {
  content: "\e906";
}
.icon-icon-dataEntryCompleted:before {
  content: "\e907";
}
.icon-icon-newVersion:before {
  content: "\e908";
}
.icon-icon-sign2:before {
  content: "\e909";
}
.icon-icon-removeRole:before {
  content: "\e90a";
}
.icon-icon-reassign2:before {
  content: "\e90b";
}
.icon-icon-unArchive:before {
  content: "\e90c";
}
.icon-icon-unsavedData:before {
  content: "\e90d";
}
.icon-icon-doubleDataEntry:before {
  content: "\e90e";
}
.icon-caret-right:before {
  content: "\e90f";
}
.icon-caret-left:before {
  content: "\e910";
}
.icon-caret-up:before {
  content: "\e911";
}
.icon-caret-down:before {
  content: "\e912";
}
.icon-question-circle:before {
  content: "\e913";
}
.icon-question:before {
  content: "\e914";
}
.icon-archive:before {
  content: "\e915";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-redo:before {
  content: "\e966";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-doc-text:before {
  content: "\f0f6";
}
.icon-flag-empty:before {
  content: "\f11d";
}
.icon-pencil-squared:before {
  content: "\f14b";
}
.icon-file-excel:before {
  content: "\f1c3";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-stop-circle:before {
  content: "\f28d";
}
