<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:aop="http://www.springframework.org/schema/aop"
	    xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop-3.1.xsd"
                            >



    <!-- A Hibernate SessionFactory for mapping Domain Objects from object to relation tables -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingLocations">
            <list>
                <value>classpath:org/akaza/openclinica/typedefs.hbm.xml</value>
            </list>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>org.akaza.openclinica.domain.rule.RuleSetBean</value>
                <value>org.akaza.openclinica.domain.rule.RuleSetAuditBean</value>
                <value>org.akaza.openclinica.domain.rule.expression.ExpressionBean</value>
                <value>org.akaza.openclinica.domain.rule.RuleSetRuleBean</value>
                <value>org.akaza.openclinica.domain.rule.RuleSetRuleAuditBean</value>
                <value>org.akaza.openclinica.domain.rule.RuleBean</value>
                <value>org.akaza.openclinica.domain.rule.action.RuleActionBean</value>
                <value>org.akaza.openclinica.domain.rule.action.RuleActionRunBean</value>
                <value>org.akaza.openclinica.domain.rule.action.RuleActionRunLogBean</value>
                <value>org.akaza.openclinica.domain.rule.action.EmailActionBean</value>
                <value>org.akaza.openclinica.domain.rule.action.DiscrepancyNoteActionBean</value>
                <value>org.akaza.openclinica.domain.rule.action.ShowActionBean</value>
                <value>org.akaza.openclinica.domain.rule.action.HideActionBean</value>
                <value>org.akaza.openclinica.domain.rule.action.InsertActionBean</value>
                <value>org.akaza.openclinica.domain.rule.action.EventActionBean</value>
                <value>org.akaza.openclinica.domain.rule.action.PropertyBean</value>
                <value>org.akaza.openclinica.domain.user.AuthoritiesBean</value>
                <value>org.akaza.openclinica.domain.managestudy.StudyModuleStatus</value>
                <value>org.akaza.openclinica.domain.technicaladmin.AuditUserLoginBean</value>
                <value>org.akaza.openclinica.domain.technicaladmin.DatabaseChangeLogBean</value>
                <value>org.akaza.openclinica.domain.technicaladmin.ConfigurationBean</value>
                <value>org.akaza.openclinica.domain.admin.MeasurementUnit</value>
                <value>org.akaza.openclinica.domain.crfdata.DynamicsItemGroupMetadataBean</value>
                <value>org.akaza.openclinica.domain.crfdata.DynamicsItemFormMetadataBean</value>
                <value>org.akaza.openclinica.domain.crfdata.SCDItemMetadataBean</value>
                <value>org.akaza.openclinica.domain.usageStats.LogUsageStatsBean</value>
                <value>org.akaza.openclinica.domain.OpenClinicaVersionBean</value>
 
 <!-- The following beans are coded for data maping, currently they are partially working, to resume the work uncomment it -->
 <value>org.akaza.openclinica.domain.datamap.Study</value> 
  <value>org.akaza.openclinica.domain.user.UserAccount</value>
  <value>org.akaza.openclinica.domain.user.UserType</value>
  <value>org.akaza.openclinica.domain.datamap.CrfBean              </value>  
 <value>org.akaza.openclinica.domain.datamap.CompletionStatus     </value>  
<value>org.akaza.openclinica.domain.datamap.CrfVersion           </value>  
<value>org.akaza.openclinica.domain.datamap.DiscrepancyNote      </value>  
<value>org.akaza.openclinica.domain.datamap.DiscrepancyNoteType  </value>  
 <value>org.akaza.openclinica.domain.datamap.DnEventCrfMap   </value>
<value>org.akaza.openclinica.domain.datamap.DnEventCrfMapId </value>
<value>org.akaza.openclinica.domain.datamap.DnItemDataMap   </value>
<value>org.akaza.openclinica.domain.datamap.DnItemDataMapId </value>
<value>org.akaza.openclinica.domain.datamap.DnStudyEventMap      </value>
<value>org.akaza.openclinica.domain.datamap.DnStudySubjectMap                 </value>
<value>org.akaza.openclinica.domain.datamap.DnSubjectMap                 </value>
<value>org.akaza.openclinica.domain.datamap.DnStudyEventMapId    </value>
<value>org.akaza.openclinica.domain.datamap.VersioningMap    </value>
<value>org.akaza.openclinica.domain.datamap.VersioningMapId    </value>
<value>org.akaza.openclinica.domain.datamap.EventCrf             </value>  
<value>org.akaza.openclinica.domain.datamap.EventDefinitionCrf   </value>  
<value>org.akaza.openclinica.domain.datamap.Item                 </value>  
<value>org.akaza.openclinica.domain.datamap.ItemData             </value>  
<value>org.akaza.openclinica.domain.datamap.ItemDataType         </value>  
<value>org.akaza.openclinica.domain.datamap.ItemFormMetadata      </value>  
<value>org.akaza.openclinica.domain.datamap.ItemGroup             </value>  
<value>org.akaza.openclinica.domain.datamap.ItemGroupMetadata     </value>  
<value>org.akaza.openclinica.domain.datamap.ItemReferenceType     </value>  
<value>org.akaza.openclinica.domain.datamap.ResolutionStatus      </value>  
<value>org.akaza.openclinica.domain.datamap.ResponseSet           </value>  
<value>org.akaza.openclinica.domain.datamap.ResponseType          </value>  
<value>org.akaza.openclinica.domain.datamap.Section               </value>  
<value>org.akaza.openclinica.domain.datamap.StudyEvent            </value>  
<value>org.akaza.openclinica.domain.datamap.StudyEventDefinition</value>  

<value>org.akaza.openclinica.domain.datamap.StudySubject</value>  

<value>org.akaza.openclinica.domain.datamap.Subject</value>  
        
<!-- the following were not tested, to be remain commented as of now -->         
<!--         <value>org.akaza.openclinica.domain.datamap.AuditEvent    </value>       -->
<value>org.akaza.openclinica.domain.datamap.AuditLogEvent     </value>   
<value>org.akaza.openclinica.domain.datamap.AuditLogEventType    </value>  
<!-- to be remain commented for now -->
<value>org.akaza.openclinica.domain.datamap.GroupClassTypes      </value>  
<!-- <value>org.akaza.openclinica.domain.datamap.MeasurementUnit       </value>   -->
<!-- <value>org.akaza.openclinica.domain.datamap.NullValueType         </value>   -->
<!-- <value>org.akaza.openclinica.domain.datamap.OpenclinicaVersion    </value>   -->
<value>org.akaza.openclinica.domain.datamap.StudyGroup</value>  
<value>org.akaza.openclinica.domain.datamap.StudyGroupClass</value>  
<!-- <value>org.akaza.openclinica.domain.datamap.StudyModuleStatus</value>   -->
<!-- <value>org.akaza.openclinica.domain.datamap.StudyParameter</value>   -->
<!-- <value>org.akaza.openclinica.domain.datamap.StudyParameterValue</value>   -->
<!-- <value>org.akaza.openclinica.domain.datamap.StudyParameterValueId</value>   -->
<!-- <value>org.akaza.openclinica.domain.datamap.StudyType</value>   -->
<!-- <value>org.akaza.openclinica.domain.datamap.StudyUserRole</value>   -->
<!-- <value>org.akaza.openclinica.domain.datamap.StudyUserRoleId</value>   -->
<value>org.akaza.openclinica.domain.datamap.SubjectGroupMap</value>  

       
                
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.dialect">s[hibernate.dialect]</prop>
           <!-- <prop key="hibernate.cache.region.factory_class"> net.sf.ehcache.hibernate.EhCacheRegionFactory</prop> -->
           <prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory</prop>           
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
               
               <!--  <prop key="net.sf.ehcache.configurationResourceName">ehcache.xml</prop> -->
				<prop key="hibernate.cache.provider_configuration_file_resource_path">/ehcache.xml</prop>
            <prop key="hibernate.generate_statistics">true</prop>
               <prop key="hibernate.cache.use_query_cache">true</prop>
               <prop key="hibernate.generate_statistics">true</prop>
               
                
            </props>
        </property>
        <property name="namingStrategy">
            <bean class="org.hibernate.cfg.ImprovedNamingStrategy"/>
        </property>
    </bean>

  <!-- A transaction manager for working with Hibernate SessionFactories -->
  <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <bean id="sharedTransactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
    <property name="transactionManager" ref="transactionManager"/>
  </bean>
  

  <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
    <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <!-- Instructs the container to look for beans with @Transactional and decorate them -->
  <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

  <bean id="abstractDomainDao" class="org.akaza.openclinica.dao.hibernate.AbstractDomainDao" abstract="true"/>

  <bean id="ruleActionRunLogDao" class="org.akaza.openclinica.dao.hibernate.RuleActionRunLogDao" parent="abstractDomainDao" autowire="byName" />
  <bean id="dynamicsItemFormMetadataDao" class="org.akaza.openclinica.dao.hibernate.DynamicsItemFormMetadataDao" parent="abstractDomainDao" autowire="byName" />
  <bean id="dynamicsItemGroupMetadataDao" class="org.akaza.openclinica.dao.hibernate.DynamicsItemGroupMetadataDao" parent="abstractDomainDao" autowire="byName" />
  <bean id="ruleSetDao" class="org.akaza.openclinica.dao.hibernate.RuleSetDao" parent="abstractDomainDao" autowire="byName" />
  <bean id="ruleSetAuditDao" class="org.akaza.openclinica.dao.hibernate.RuleSetAuditDao" parent="abstractDomainDao" autowire="byName" />
  <bean id="ruleDao" class="org.akaza.openclinica.dao.hibernate.RuleDao" parent="abstractDomainDao" autowire="byName" />
  <bean id="ruleSetRuleDao" class="org.akaza.openclinica.dao.hibernate.RuleSetRuleDao" parent="abstractDomainDao" autowire="byName" />
  <bean id="ruleSetRuleAuditDao" class="org.akaza.openclinica.dao.hibernate.RuleSetRuleAuditDao" parent="abstractDomainDao" autowire="byName" />

  <bean id="authoritiesDao" class="org.akaza.openclinica.dao.hibernate.AuthoritiesDao" parent="abstractDomainDao" autowire="byName" />
  <bean id="studyModuleStatusDao" class="org.akaza.openclinica.dao.hibernate.StudyModuleStatusDao" parent="abstractDomainDao" autowire="byName"/>

  <bean id="auditUserLoginDao" class="org.akaza.openclinica.dao.hibernate.AuditUserLoginDao" parent="abstractDomainDao" autowire="byName" />
  <bean id="databaseChangeLogDao" class="org.akaza.openclinica.dao.hibernate.DatabaseChangeLogDao" autowire="byName" />
  <bean id="configurationDao" class="org.akaza.openclinica.dao.hibernate.ConfigurationDao" parent="abstractDomainDao" autowire="byName" />

  <bean id="measurementUnitDao" class="org.akaza.openclinica.dao.hibernate.MeasurementUnitDao" parent="abstractDomainDao" autowire="byName" />
  <bean id="scdItemMetadataDao" class="org.akaza.openclinica.dao.hibernate.SCDItemMetadataDao" parent="abstractDomainDao" autowire="byName" />
  
  <bean id="usageStatsServiceDAO" class="org.akaza.openclinica.dao.hibernate.UsageStatsServiceDAO" parent="abstractDomainDao" autowire="byName" />
  <bean id="openClinicaVersionDAO" class="org.akaza.openclinica.dao.hibernate.OpenClinicaVersionDAO" parent="abstractDomainDao" autowire="byName" />
  
  <bean id="viewNotesDao" class="org.akaza.openclinica.dao.managestudy.ViewNotesDaoImpl">
    <property name="dataSource" ref="dataSource"/>
    <property name="queryStore" ref="queryStore"/>
  </bean>
  
  <bean id="studyDaoDomain" class="org.akaza.openclinica.dao.hibernate.StudyDao" parent="abstractDomainDao" autowire="byName">
  
  </bean>
    
  <bean id="studySubjectDaoDomain" class="org.akaza.openclinica.dao.hibernate.StudySubjectDao" parent="abstractDomainDao" autowire="byName">
  </bean>
   <bean id="studyEventDefDaoDomain" class="org.akaza.openclinica.dao.hibernate.StudyEventDefinitionDao" parent="abstractDomainDao" autowire="byName">
  </bean>
   <bean id="auditLogEventDaoDomain" class="org.akaza.openclinica.dao.hibernate.AuditLogEventDao" parent="abstractDomainDao" autowire="byName">
  </bean>
  <bean id="userDaoDomain" class="org.akaza.openclinica.dao.hibernate.UserAccountDao" parent="abstractDomainDao" autowire="byName"/>
  <bean id="studyEventDaoDomain" class="org.akaza.openclinica.dao.hibernate.StudyEventDao" parent="abstractDomainDao" autowire="byName"></bean> 
</beans>
