<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-4.2.xsd
                           http://www.springframework.org/schema/context
		                   http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <context:annotation-config />
    <context:component-scan base-package="org.akaza.openclinica" />

    <!--
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="ocUserDetailsService">
            <security:password-encoder ref="openClinicaPasswordEncoder"/>
        </security:authentication-provider>
        <security:authentication-provider ref="ldapAuthenticationProvider"/>
    </security:authentication-manager>

    <bean id="shaPasswordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder"/>
    <bean id="md5PasswordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>

    <bean id="openClinicaPasswordEncoder" class="org.akaza.openclinica.core.OpenClinicaPasswordEncoder">
        <property name="currentPasswordEncoder" ref="shaPasswordEncoder"/>
        <property name="oldPasswordEncoder" ref="md5PasswordEncoder"/>
    </bean>

    <bean id="securityManager" class="org.akaza.openclinica.core.SecurityManager">
        <property name="encoder" ref="openClinicaPasswordEncoder"/>
        <property name="providers">
            <list>
                <ref bean="ldapAuthenticationProvider"/>
                <bean class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
                    <property name="userDetailsService" ref="ocUserDetailsService"/>
                    <property name="passwordEncoder" ref="openClinicaPasswordEncoder"/>
                </bean>
            </list>
        </property>
    </bean>
    -->

    <!--
    <bean id="myFilter" class="org.akaza.openclinica.web.filter.OpenClinicaAuthenticationProcessingFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationFailureUrl" value="/pages/login/login?action=errorLogin"/>
        <property name="defaultTargetUrl" value="/MainMenu"/>
        <property name="auditUserLoginDao" ref="auditUserLoginDao"/>
        <property name="configurationDao" ref="configurationDao"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="exceptionMappings">
            <props>
                <prop key="org.springframework.security.LockedException">/pages/login/login?action=errorLocked</prop>
            </props>
        </property>
        <security:custom-filter position="AUTHENTICATION_PROCESSING_FILTER"/>
    </bean>
    -->

    <!--
    <bean id="ocUserDetailsService" class="org.akaza.openclinica.web.filter.OpenClinicaJdbcService"
          p:dataSource-ref="dataSource"
          p:usersByUsernameQuery="SELECT user_name,passwd,enabled,account_non_locked FROM user_account WHERE user_name = ?">
        <property name="enableAuthorities" value="true"/>
    </bean>
    -->

    <!--<security:global-method-security secured-annotations="enabled">
        <security:protect-pointcut
            expression="execution(* com.springsource..*Service.*(..))"
            access="ROLE_USER" />
    </security:global-method-security>
    -->

    <!-- ActiveDirectory -->
    <bean id="contextSource" class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
        <constructor-arg>
            <value>s[ldap.host]</value>
        </constructor-arg>
        <property name="userDn">
            <value>s[ldap.userDn]</value>
        </property>
        <property name="password">
            <value>s[ldap.password]</value>
        </property>
    </bean>

    <bean id="ldapAuthenticationProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
        <constructor-arg>
            <bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
                <constructor-arg ref="contextSource"/>
                <property name="userSearch" ref="openClinicaLdapUserSearch"/>
            </bean>
        </constructor-arg>
        <constructor-arg>
            <bean class="org.akaza.openclinica.web.filter.OpenClinicaLdapAuthoritiesPopulator"/>
        </constructor-arg>
    </bean>

<!-- xformService moved to core-service-->

    <bean name="apiSecurityFilter" class="org.akaza.openclinica.web.filter.ApiSecurityFilter"/>

</beans>
