<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/util 
                        http://www.springframework.org/schema/util/spring-util-3.1.xsd">
    
   
     <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
      <property name="host" value="s[mail.host]" />
      <property name="username" value="s[mail.username]"/>
      <property name="password" value="s[mail.password]"/>
      <property name="port" value="s[mail.port]"/>
      <property name="protocol" value="s[mail.protocol]"/>
      <property name="defaultEncoding" value="UTF-8" />
      <property name="javaMailProperties">
        <props>
          <prop key="mail.smtp.auth">s[mail.smtp.auth]</prop>
          <prop key="mail.smtp.starttls.enable">s[mail.smtp.starttls.enable]</prop>
          <!--  IF using HTTPS -->
          <prop key="mail.smtps.auth">s[mail.smtps.auth]</prop>
          <prop key="mail.smtps.starttls.enable">s[mail.smtps.starttls.enable]</prop>
          <prop key="mail.smtp.connectiontimeout">s[mail.smtp.connectiontimeout]</prop>
        </props>
      </property>
     </bean>
     
     <bean id="openClinicaMailSender" class="org.akaza.openclinica.core.OpenClinicaMailSender">
        <property name="mailSender" ref="mailSender"/>
     </bean>
     
     
     
</beans>