<p>Hello <span th:text="${userName}">USERNAME</span>,</p>

<p th:text="#{this_email_is_from_openclinica_admin}">This email is from OpenClinica admin.</p>
<p><span th:text="#{your_password_has_been_reset_as}">Your password has been reset as</span>: <span th:text="${password}">PASSWORD</span></p>

<p>
  <span th:text="#{you_will_be_required_to_change}">You may be required to change this password the next</span>
  <span th:text="#{time_you_login_to_the_system}">time you login to the system.</span>)
</p>

<p>
  <span th:text="#{use_the_following_link_to_log}">Use the following link to log into OpenClinica</span>:
  <a th:href="@{${loginUrl}}" th:text="@{${loginUrl}}" mc:disable-tracking="">http://openclinica.org</a>
</p>
